[2018-04-29 22:34] tdeekens opened #3 "`ga` does not seem to work or load anything"
First, thanks for this awesome tool! I just discovered it and already wished to have used it for the past months!

However the `ga` which is correctly setup as `which ga` shows that it's the `forgit` function does not trigger/show anything. It seems to either return or swallow an error.

Any idea on if that's a problem with `ga` itself or how I can debug more?

Thanks!

[2018-04-30 01:45] wfxr commented on #3
Kind of weird. I have never encountered this issue. Does other command like `glo`, `gd` work for you?
Maybe you run the `ga` on a clean working tree, ie, nothing to add. In this situation, `ga` of course will not trigger fzf. If not, what does the command `git status --short` show on your repo?

[2018-04-30 07:45] tdeekens commented on #3
All other commands work just fine and I am really enjoying them. ga is run in a not empty working directory. Two machines have the same issue with it, it seems.

Does it need any specific dependencies. Like version of awk or sed?

[2018-04-30 08:59] wfxr commented on #3
I think these are no special requirements on `awk` or `sed`. I tested the plugin on Linux and MacOS.

Can you run `git status --short` in your git repo and paste the output here?

[2018-04-30 09:37] tdeekens commented on #3
Sure.

[code]

This is a small recording of everything.

![screen recording 2018-04-30 at 11 35 am](https://user-images.githubusercontent.com/1877073/39421766-c6ee8768-4c6a-11e8-9458-d85e8bc9e9f4.gif)

I am running `git version 2.17.0`.

[2018-04-30 10:49] wfxr commented on #3
'M' with green color means the file has been modified and **already added**. There is no need to add the same file again unless you do some other modification.
To see if `ga` works fine, run `git reset` to callback the add operation. Or just do some modifications on some file(s) in your repo. Run `ga` again.

[2018-04-30 10:55] tdeekens commented on #3
Sorry, but I did not stage the changes of the file. It's an existing file which has unstaged changes.

However, the same happens when creating a completely new file:

[code]

Also here `ga` does not show up.

[2018-04-30 11:10] wfxr commented on #3
Strange...Make sure you have some unstaged files and run the following command one by one to see the output disappeared at which step.
[code]
[code]
[code]
[code]
[code]
[code]

[2018-04-30 14:25] tdeekens commented on #3
Thanks for the detailed commands. I ran them until `[...] awk '{printf "[%10s]  ", $1; $1=""; print $0}'` when I noticed it must be about my color configuration.

[code]

Sorry about that but I wasn't aware your plugin sniffs the colors. I'll resort to the defaults for now to have things running.

I guess I could tweak the script to sniff correctly, right? Can the script maybe even read color conf

[2018-04-30 15:35] tdeekens commented on #3
Yeah. Noticed that too just now. I played a little with it but could not get it to work. Thanks for your efforts!

[2018-04-30 16:57] tdeekens commented on #3
💃 It works! 🙇

I don't know however how to solve this more elegantly or if there is any build in bash/zsh things to map things from color names into codes.

[2018-04-30 16:57] #3 closed

[2018-06-01 22:14] dansdantas opened #4 "Fuzzy search not working"
I don't know if it is intentional or not, but can not use fuzzy search on any window created by forgit.  Only matching exactly file name works bringing correct results.

Thanks for your work. I've been using for some weeks and it is really helping my workflow.

[2018-06-02 14:48] wfxr commented on #4
Yes, `-e` flag which enable "exact-match" has been given when calling fzf inner forgit.
I plan to add an environment variable like `FORGIT_FZF_DEFAULT_OPTS` by which user can give custom options to fzf used in forgit.
Before it been done, you can add a leading `'` character on the query term to use "fuzzy-match" instead of "exact-match".

[2018-06-02 16:13] wfxr commented on #4
Done.
Personal prefer options has been moved to `FORGIT_FZF_DEFAULT_OPTS`. You can also add custom fzf options here.

[2018-06-04 12:42] dansdantas commented on #4
Thank you.

[2018-06-04 12:42] #4 closed

[2018-09-17 18:54] snowe2010 opened #8 "Add support for viewing stashes"
Any way support could be added for viewing stashes? Currently I hate viewing stashes in SourceTree, and git's cli is suboptimal for it.

[2018-09-18 05:31] wfxr commented on #8
Done by [0f5eeb5](https://github.com/wfxr/forgit/commit/0f5eeb5e12ef96c3543f75a5888f39e31a390e00).
You can update and try it.

[2018-09-18 19:54] snowe2010 commented on #8
Awesome! It works perfectly! Thanks a ton!

[2018-09-18 19:54] #8 closed

[2019-01-18 05:27] wfxr opened #15 "Improve git color process logic."
Color process logic in `forgit::add` is ugly and buggy.

It will not work on ANSI 256-color(like `228`), 24-bit RGB color(like `#ff0ab3`), and complex color names(like `blue reverse`).

[2019-01-18 06:57] #15 closed

[2019-01-18 09:51] wfxr opened #16 "No necessary to show option list on `forgit:ignore`."
There is no necessary to a show the option list since one can easily do redirect by self, eg `gi > .gitignore`, `gi rust >> .gitignore`.

[2019-01-18 09:54] #16 closed

[2019-01-21 03:07] wfxr commented on #16
Anyone really prefer the option list can add a patch in bash/zsh config.

[code]

[2019-01-21 05:06] wfxr commented on #3
Improvement has been done at #15 .

[2019-01-30 14:19] m-rey opened #18 "Add fish shell support"
Hello
I've noticed that zsh is supported. Are there plans to support fish shell, too?

[2019-02-25 02:50] quintrino opened #19 "git-fixup integration"
So I currently use https://github.com/keis/git-fixup to list a number of commits that might be the commit that I'm aiming to fixup.

Is there anyway I can pass that list of commits to forgit and have it git show them in the widget?

TLDR; is there a way I can pass forgit a list of SHAs manually?

[2019-02-25 23:43] quintrino commented on #19
Sorry, realised that you can get git-fixup to show via fzf already.

[2019-02-25 23:43] #19 closed

[2019-03-11 05:01] quintrino opened #20 "XDG default folder"
https://github.com/wfxr/forgit/blob/3c7b9ea4b81d0b6de31a177b536ba807aace8cd2/forgit.plugin.zsh#L86

Could we change this so that it will use $XDG_CONFIG_HOME if it's set and otherwise use the home directory?

Thanks for a great program!

[2019-03-14 06:25] wfxr commented on #20
Sorry for the late reply.
I hava made a little change.Now `forgit` can use user's custom gitignore templates repo and specified where to put the repo as well.
For your case. Just export `FORGIT_GI_REPO_LOCAL` variable before the `forgit` loaded.

[2019-03-14 06:37] wfxr commented on #18
Sorry but I don't want to keep two pieces of code. Because `zsh` and `bash` can share the same code but fish can't.
Myabe You can have a look at this [repo](https://github.com/EfforiaKnight/fizzygit). It was copied from the `forgit`(early edition).

[2019-03-14 06:38] #18 closed

[2019-03-23 09:33] #20 closed

[2019-04-28 15:04] jamadagni opened #21 "Support for options to pass to `git diff`"
Hello and thank you for `forgit`. I think I am starting to like it.

But I didn't find `diff-so-fancy` (which you suggest in the README) to my particular liking so I removed it.

My `git df` alias uses `-w` to suppress white space changes to increase the content-wise SNR, and `--word-diff=color` to avoid excess lines in my diffs. I would like `ga` to show the same. Likewise others may have other d

[2019-05-29 08:11] #21 closed

[2019-05-29 09:23] doronbehar opened #23 "Why do you use incompatible :: in functions' names"
As the title of this issue suggests, I noticed that functions named `forgit::fzf` for example can't be used in `/bin/sh`:

[code]

I know that in the past you've had 2 files for Bash/sh and for ZSH and that some-when you've made them symlinks. I agree that having just a single file is better but why use functions with names such as these and not use underscores?

I could send a patch to fix this b

[2019-05-29 11:05] wfxr commented on #23
In fact there is no special reason I have to name it like `forgit::fzf`. But compared to snake style this name pattern is kind of showing namespace concept.

Which shell do you use? I have had tested it's ok both in `bash` and `zsh`.

[2019-05-29 11:21] wfxr commented on #21
@jamadagni Thanks for @doronbehar 's work. Now you can custom the preview behavior by setting the command-specified fzf options(like `FORGIT_DIFF_FZF_OPTS`).

[2019-05-29 12:19] doronbehar commented on #23
As I said, it doens't work with `/bin/sh`. I assume this is the shell that Git uses although my `$SHELL` is `/bin/zsh`.

[2019-05-30 02:45] wfxr commented on #23
@doronbehar Maintaining compatibility for `sh` is a very troublesome thing but few people would choose `sh` as their login shell.

What you said is right that git use `/bin/sh` to execute external commands. But it doesn't prevent you choosing another shell. In fact the following lines should work as you expected:
[code]

[2019-05-30 08:44] doronbehar commented on #23
Thanks, I'm aware of this workaround but I hope it can be avoided. I tested all of the functions under `/bin/sh` with the only change of the functions renamed with underscores and I haven't noticed any difference in behaviour, which means everything else seems compatible.

I hope you'll consider this proposal. I can send a PR right away if you wish.

[2019-05-30 10:13] wfxr commented on #23
Thanks for your suggestion. But make a promise for `sh` compatibility is still a burden. What if someday we want to add some awesome features but the old `sh` does not support? Split the source to two versions again? Or write some dirty workaround code and mix them into the single file?

Take a step back and say I keep the plugin compatibility with `sh`. But how about `fish`, `ksh`, `chsh`(or even

[2019-05-30 10:13] #23 closed

[2019-07-28 07:41] marcobiedermann opened #26 "Feature request: branches"
First of all thank you very much for providing this plugin. Super useful!

It would also be great to include an interactive branch selection.

For example: expect `gbr` to interactively search through all branches.

[2019-07-30 08:05] wfxr commented on #26
Thanks for your suggestion.

Have you tried the git completion plugin? I think that would be more appropriate to use the completion mechanism to do this.

Here is the git's completion file from its official repository:
https://github.com/git/git/tree/master/contrib/completion
And its usage:
https://apple.stackexchange.com/questions/55875/git-auto-complete-for-branches-at-the-command-line

`oh-my-z

[2019-07-30 13:02] marcobiedermann commented on #26
@wfxr

Thank you very much for your response and possible solution.
I already figured out a way how to set it up by myself but wouldn't be nicer to include it into this package to avoid manual setup for each user?
When you break it down `forgit` is also just utility set for `git` functions in combination with `fzf`. So instead of setting up an alias you could also shit it, no?

[2019-08-02 08:25] noboruma opened #27 "Feature request: support diff origin"
Hello there,

Could we have support for the `git diff origin` command?
Something like `gd origin` would be perfect.

Motivation:
`git diff` will only show the difference between what was committed and what is **not** committed.
When working with different branches, it is common workflow to commit locally, thus `git diff` will show no difference.

[2019-08-03 03:00] wfxr commented on #27
@noboruma Thanks for your suggestion. I like this feature. Will be added later.

[2019-08-03 04:16] wfxr commented on #27
@noboruma Implemented.  Now `gd` support the following usages.

[code]

You can try it and check if it works as expected.

[2019-08-04 12:05] Moulick opened #28 "What theme is used in the Readme.md screenshots?"
The theme used in the pics in the readme.md is sweet. Can I please get the name or a export of  the colour scheme or something?

[2019-08-04 12:08] Moulick commented on #28
@wfxr

[2019-08-05 02:59] wfxr commented on #28
@Moulick
Which theme do you mean? (tmux or zsh ?)

[2019-08-05 05:54] Moulick commented on #28
I meant the colour scheme here
![image](https://user-images.githubusercontent.com/15780903/62441901-988cd800-b773-11e9-8b18-b33201fa2576.png)

[2019-08-05 07:41] noboruma commented on #27
This is working great!
Thanks for considering & implementing a solution that quickly!

[2019-08-05 07:41] #27 closed

[2019-08-05 07:59] wfxr commented on #28
……That's a lot of different components from your description,  include tmux(tmux-power), zsh(spaceship-prompt), ls(exa), git(diff-so-fancy).

Here is my [dotfiles](https://github.com/wfxr/dotfiles). Be patient and you will find all the configurations.

[2019-08-05 07:59] #28 closed

[2019-08-07 07:27] Gerrit-K opened #29 "Diff doesn't work in subdirectories"
# Description
When I have changes in a sub-subdirectory, switch into the intermediate subdirectory and run `gd`, the diff preview from diff-so-fancy is empty (see screenshots below). The files are listed, but the paths are probably incorrect. Notice that although I've `cd`'ed into the subdirectory, the files listed in fzf still have the path related to the git root. Not sure though, if this is an

[2019-08-07 08:41] wfxr commented on #29
@Gerrit-K Fixed.

[2019-08-07 10:31] Gerrit-K commented on #29
@wfxr Thank ***you*** for the incredibly quick fix!

[2019-08-07 10:31] #29 closed

[2019-08-25 09:36] Gerrit-K opened #30 "Relative paths for other commands"
Similarly to #29 I noticed that `grh` (git reset head) and `ga` (git add) were also lacking support for relative paths. Since your fix for #29 was easier than I expected, I thought I'll give it a try myself. I'll submit the PR shortly, looking forward to your feedback.

[2019-08-26 02:21] wfxr commented on #30
@Gerrit-K Thanks for your contribution.
Both pr are reasonable. But #32 has some conflicts after #31 merged. You can resolve it then it will be merged.

[2019-08-26 07:18] Gerrit-K commented on #30
@wfxr Thanks for your feedback. I fixed the conflicts.

[2019-08-26 07:36] #30 closed

[2019-09-04 01:57] rjshrjndrn opened #33 "[Question] Interact with selection"
Hi,
Thank you for this awesome plugin.
But one question, while I select a stash, is there any way to delete it? like a keybinding or so?

Thanks

[2019-09-04 02:54] wfxr commented on #33
@rjshrjndrn
Currently not supported. You must copy the stash id and run `git stash drop $id` mannully.

[2019-09-04 02:54] #33 closed

[2019-09-18 17:09] noboruma opened #34 "[Feature Request] Shortcut to open file under selection with `gd`"
Hello there,

Would be possible to have a shortcut (like `Ctrl-E` or even customize `Tab`?) that would open an highlighted file?
After looking at a `diff`, I would like to hack the file without going further steps.

[2019-09-28 06:38] oemergenc opened #36 "Add option to customize git log formatting"
It would be nice to allow customization of git log formatting. Right now this seems to be hard coded in the code.

[2019-10-02 00:17] stephencheng opened #37 "Feature request: add icdiff support"
First, this script is so cool.

It would be great it can optionally support icdiff as a side by side viewer.

Essentially the code change would be some thing like:
   # cmd="git diff --color=always $commit -- {} $forgit_fancy"
to
  # cmd="git icdiff --color=always $commit -- {}

Thanks

[2019-10-08 02:31] wfxr commented on #34
Hi @noboruma .
You can add the bind in `FORGIT_DIFF_FZF_OPTS`.

[2019-10-08 02:31] #34 closed

[2019-10-08 02:46] wfxr commented on #36
@oemergenc Thanks for your suggestion. Unfortunately it is difficult to implement because we need grep the commit hash for the diff preview which require the pre-defined log format.

But if you really don't like the log format you can override the `forgit::log` function (about 10 lines as you see).

[2019-10-08 02:46] #36 closed

[2019-10-08 03:03] wfxr commented on #37
@stephencheng
Thanks for your suggestion but `icdiff` is not the standard sub command for git. Implement a function which is not in the scope of the standard git is not the project's goal.

If your prefer `icdiff` you can override the `forgit::diff` in your bashrc/zshrc.

[2019-10-08 03:03] #37 closed

[2019-10-10 03:09] #26 closed

[2019-10-23 17:09] skylarmb opened #39 "xargs: realpath: No such file or directory"
Just installed forgit using zplug. When running `gd` i get the following error. How can I debug this? other forgit commands seem to work fine

[code]

[2019-10-24 02:51] wfxr commented on #39
It seems the `realpath` command does not exist in your system. What's your OS ?

[2019-10-24 03:22] wfxr commented on #39
@skylarmb `gd` use `realpath` to convert absolute path to relative path which is shorter and easier to browse. `realpath` is a gnu standard command but some os like mac does not install it by default.
I will add some code to avoid this convert when `realpath` was not installed. But if you want the relative paths you can install the `realpath` command. (most gnu commands include `realpath` exists i

[2019-10-25 20:37] skylarmb commented on #39
👏 thanks!!

[2019-10-26 03:06] #39 closed

[2019-10-28 13:06] paranoidi opened #40 "Add command for git clean"
Hi,

Since git clean does not currently have inclusion filter, is there any chance you might add some convenient helpers for git clean? :)

[2019-11-01 23:22] cjappl opened #42 "Support for fish?"
Just getting in to FZF and found this! It looks killer.

Any chance of supporting fish in the future? I'm sure it'd unlock even more users!

[2019-11-03 18:04] adberard opened #43 "alias method"
The way to set up alias is seem very unconventional, is there a reason to not use the alias command instead ?
[code]

[code]

[2019-11-03 18:14] adberard opened #44 "command format"
The current command format `forgit::command arg` is pretty odd, and doesnt accept options such as --help

Using an universal format like `forgit [--option] <command> [<args>]` and a standard gnu help could be a great addition for completion systems (so `compdef _gnu_generic forgit` could work, also we could use git completion to select branch and files)

https://www.gnu.org/prep/standards/html_nod

[2019-11-04 03:21] wfxr commented on #43
Because the first way works and it is no more complicated than the second way. It also gives us the freedom to modify the implementation while keep compatibility (eg. someday we want to add support for `sh` but `sh` doesn't allow `::` existed in the function name).

Of course, I don't mean that the first way is perfect and the second way is nothing. Both way have their own advantages and disadvant

[2019-11-04 03:21] #43 closed

[2019-11-04 03:47] wfxr commented on #44
@adberard If you are talking about an independent program like [grv](https://github.com/rgburke/grv), I  think your suggestion makes sense.

But `forgit` is just a **small plugin** for the shell as you see. Essentially it's a set of aliases which are frequently used, but not a standalone program. And there is no complicated features need to be explained in detail. `README` and the source code is a

[2019-11-04 03:47] #44 closed

[2019-11-05 04:59] cjappl commented on #42
Merged and closed!

[2019-11-05 04:59] #42 closed

[2019-11-05 16:01] cjappl commented on #40
Is there some functionality you want besides the "gclean" command? Please describe what kind of feature you're looking for

[2019-11-07 15:46] cjappl opened #50 "Change default mapping of select all to ctrl+a?"
Just wondering if there is a reason it's ctrl+r, I think ctrl+a is a little more common, and may be more intuitive

[code]

[2019-11-08 02:57] wfxr commented on #50
@cjappl
ctrl - a is a common shortcut for Linux, for moving the cursor to the beginning of the line. This is also the reason why `fzf` does not use `ctrl - a` as the default shortcut for `toggle all` action.

In my opinion `r` means reverse. Binding it to the toggle action is appropriate. I have found other projects to do the same, but I can’t recall which one.

however, you can add the binding in

[2019-11-08 03:26] cjappl commented on #50
Cool, makes sense to me! Thanks for the explanation

[2019-11-08 03:26] #50 closed

[2019-11-10 12:27] Seirdy opened #51 "Support pager program specified in global git config"
forgit should be able to use whatever program is specified by the git config `core.pager`.

I use [`delta`](https://github.com/dandavison/delta) as my git pager, and I work around the lack of support in forgit quite well by adding a faux `diff-so-fancy` shell script to my path that calls `delta`.

[2019-11-10 17:13] cjappl commented on #40
Closing if we don't hear from you in the next few days @paranoidi

[2019-11-10 17:14] cjappl commented on #18
@m-rey just a heads up if you didnn't see it, I completed this work! Try it out and let me know if you have any issues

[2019-11-10 17:16] cjappl commented on #18
Also tagging @leiserfg

[2019-11-11 09:06] wfxr commented on #51
@Seirdy Thank you.
It's a good suggestion. I will consider implementing it.

[2019-11-11 10:09] wfxr commented on #51
Implemented.

@Seirdy  You can update and try it.

[2019-11-11 15:15] cjappl commented on #51
Committed and merged. Assigning back to you @wfxr, What I did was slightly different, you can see in the fish config.

Basically, I checked for a pager, if there was a pager I went with that

If not, fell back to diff-so-fancy

if not, fell back to cat

Not sure if you want to replicate on your side, or just remove diff-so-fancy! Let me know if you want it removed and I can take it out of the fish

[2019-11-12 03:03] wfxr commented on #51
Hi @cjappl Thank you.

You can take a look at the [diff-so-fancy](https://github.com/so-fancy/diff-so-fancy)'s README. If one uses diff-so-fancy they must set it as the git pager already. `delta` is the same. We can safely read the pager config from git and use it as `forgit`'s pager. If the pager is not set, the `diff-so-fancy` is not installed. So I made the simplifications on fallback judgement

[2019-11-12 03:14] cjappl commented on #51
Cool sounds good. We can probably close this then!

[2019-11-12 03:18] #51 closed

[2019-11-13 16:31] Seirdy commented on #51
Thanks; I removed the faux `diff-so-fancy` script and forgit correctly uses `delta`!

[2019-11-13 17:06] cjappl commented on #40
Closing, no response from requester. If you have a suggestion, please re-file it using the new template and provide more information!

[2019-11-13 17:06] #40 closed

[2019-11-13 17:10] paranoidi commented on #40
@cjappl apologies for the ticket noise, I was sure that this did not exists. Now I feel just stupid. Keep up the good work!

[2019-11-13 17:11] cjappl commented on #40
all good man, always happy to hear feedback!

[2019-11-19 14:39] rapha8l commented on #42
Hi
hash does not exist in fish

[2019-11-19 14:58] cjappl commented on #42
Please file a new ticket including OS and fish version so I can address
this!

It works perfectly on my system, so I will need more details to fix it.

On Tue, Nov 19, 2019 at 2:39 PM rapha8l <notifications@github.com> wrote:

[2019-11-20 15:29] rapha8l commented on #42
thanks

[2019-11-20 15:31] rapha8l opened #54 "[BUG] - fish throw an "hash" error"
Hi, on an up to date Void Linux system, fish, version 3.0.2
using "source ~/.config/forgit/forgit.plugin.fish" in ~/.config/fish/config.fish

I get

Indeed hash is not a builtin command and does not exist otherwise in my system

Thanks

[2019-11-20 17:09] cjappl commented on #54
@rapha8l please pull the latest from master and see if that works for you! Using something that should be built-in to fish now.

Please keep filing bugs as you find them, I'm pretty new to scripting fish so I'm sure you will run into issues! Your testing and bug reports are appreciated :)

[2019-11-20 17:11] puddyput commented on #54
Works for me now, thanks a bunch!

[2019-11-20 17:12] cjappl commented on #54
awesome!! That goes for you as well @puddyput, very happy to have more fish testers on this thing. Don't hesitate to file any issues, or if you feel bold make a PR yourself.

[2019-11-20 17:12] #54 closed

[2019-11-20 23:18] benavern opened #57 "[BUG] - FZF not found"
**Describe the bug**
I have this in my ~/.zshrc
[code]
but when I restart my terminal here is the outpout:

[code]

**To Reproduce**
I don't see anything I could have done wrong ...

**Expected behavior**
That it works (as they say)

**Screenshots**
![](http://i.imgur.com/YYEnzpz.png)

**Desktop (please complete the following information):**
 - OS:
[code]
 - Shell: zsh
 - Shell Version: zsh 5.4.2

[2019-11-21 01:16] wfxr commented on #57
Hi @benavern  Your problem seems to be that fzf is not being installed correctly. This is not a bug about forgit.

You have this line in `zshrc`:
[code]
It means if the `fzf` can be found in PATH `hash fzf &>/dev/null` will return true and you shouldn't see the message "hey I am working!". But it actually appears, as you can see.

 You need check the [installation instructions for fzf](https://git

[2019-11-21 10:49] benavern commented on #57
Hi, thanks for your answer.
fzf is installed, I ran it multiple times, and when I copy-paste the forgit line in my terminal once it is ready, forgit starts working. seems that something is maybe asynchronous in fzf initialization...

I tried to delete everything and install it differently, here are my steps:
- clone fzf in `~/.fzf`
- run `~/.fzf/install` (answered y to all the questions)
- add `an

[2019-11-21 11:13] wfxr commented on #57
Weird... I don't know why antigen doesn't load `forgit`.

Can you run the following commands one by one and list the outputs here?

- `which fzf`
- `forgit::log`
- `glo`

[2019-11-21 11:56] benavern commented on #57
[code]
-  `forgit::log` gives an error
- the `glo` output is the git log alias from the git zsh plugin, not the one from forgit
![](http://i.imgur.com/UoHyQ8G.png)

[2019-11-21 12:07] wfxr commented on #57
At least one problem has been identified that forgit's default alias `glo` was overwriten by `git` plugin. You should specified another alias or disable the alias from git zsh plugin or make sure `forgit` was loaded after zsh `git` plugin.

And what the error `forgit::log` shows?

[2019-11-21 13:41] benavern commented on #57
once I source forgit manualy, the aliases for forgit are working well so I think nothing to do by me here, just sourcing forgit after the zsh git plugin.

`forgit::log` is not displaying any info, it just returns a non 0 exit code

[2019-11-21 14:25] wfxr commented on #57
Sorry but I can't reproduce what you described. I can hardly understand since `glo` is only an alias for `forgit::log`. It cann't work if `forgit::log don't work`.

[2019-11-21 14:29] wfxr commented on #57
@benavern
I will close this issue because this is unlikely to be a bug for forgit. But if you find more clues, feel free to open it again.

[2019-11-21 20:23] horseinthesky commented on #57
I've just installed `forgit` and have the same issue:
[code]

`fzf` is installed via `vim-plug` and I've tried to reinstall it several times.

[2019-11-22 00:50] cjappl commented on #57
Can you install it with your normal package manager, not vim-plug?

I would guess you just installed the fzf vim plugin, not fzf itself

[2019-11-22 08:14] horseinthesky commented on #57
No, it is installed and working
![image](https://user-images.githubusercontent.com/19948672/69409053-4b7c4400-0d19-11ea-9135-9da2e69d1406.png)

[2019-11-22 09:29] wfxr commented on #57
@horseinthesky Did you load `forgit` before adding `fzf` to `$PATH` ?

[2019-11-22 09:34] horseinthesky commented on #57
Yes. Thas was the case. `oh-my-zsh` was loading plugin first and then `fzf` was added to the `$PATH`.
Fixed it and it works perfectly fine now.
Thank you!

[2019-11-22 09:40] benavern commented on #57
How did you fix it ? could you share your configuration files ? I didn't manage to make it work yet ...

[2019-11-22 09:46] horseinthesky commented on #57
The thing is `forgit.plugin.zsh` executes `hash fzf &>/dev/null` and before it does it you need to have `fzf` in your `$PATH`.

I am using `oh-my-zsh` to load plugins and this is my `.zshrc`:
https://github.com/horseinthesky/dotfiles/blob/master/files/.zshrc

You can see I firstly do:
https://github.com/horseinthesky/dotfiles/blob/7b098009bc5e1ae7b675ddd2443c105d55de60fe/files/.zshrc#L54

And then

[2019-11-22 09:47] wfxr commented on #57
@horseinthesky You are welcome.

And for two reasons, I think it is not necessary to check if `fzf` exists during loading. I will remove this check after a while. You can keep your configuration unchanged.

1. We have no way(and there is no need) to make `fzf` exist in $PATH before `forgit` is being loading.
2. If we do not check and user does not actually install fzf, the shell will still give a

[2019-11-22 09:54] benavern commented on #57
Wow, thanks!
just went from this:
![](http://i.imgur.com/4TphBvE.png)

to this:
![](http://i.imgur.com/BhUtKBp.png)

and it is now working well!

so maybe the readme has to be clearer about this:
load fzf before zsh, but load forgit after it

I'll close the issue since that fixed mine :)

[2019-11-22 09:54] #57 closed

[2019-11-22 10:29] horseinthesky commented on #57
@wfxr Could you help me with one small thing?

I want to keep `forgit` working when switching to `root` with `sudo -E -s` but it keeps saying me:
[code]

It is not a big deal but I just want to know what I am doing wrong.

[2019-11-22 10:35] wfxr commented on #57
Have you updated to the latest version? If so, what is the output of `echo $PATH`?
Does it contain `fzf`'s location? @horseinthesky

[2019-11-22 10:41] horseinthesky commented on #57
I have just noticed you updated an hour ago. With the latest version it is working after `sudo -E -s` too. Thanks.

[2019-11-22 11:02] wfxr opened #59 "Can we simplify the issue template?"
@cjappl  Thank you for your excellent work to add issue templates for the project. I like it very much.

Now I have a suggestion that can we do some simplification on it considering the size and type of this project?

Maybe we can take [`fzf`'s template](https://github.com/junegunn/fzf/blob/master/.github/ISSUE_TEMPLATE.md) as the template of our issue template. It's simpler and more suitable for

[2019-11-22 11:06] wfxr commented on #57
That's OK. @horseinthesky

[2019-11-22 12:11] cjappl commented on #59
Yes sounds great! I will do that right now

[2019-11-22 12:16] cjappl commented on #59
@wfxr do you mean our PR template (https://github.com/wfxr/forgit/blob/master/.github/pull_request_template.md) or the bug/feature request template (https://github.com/wfxr/forgit/tree/master/.github/ISSUE_TEMPLATE)

I think the bug and feature request ones are relatively simple, but the PR one could definitely be brought down in size!

[2019-11-22 12:50] wfxr commented on #59
@cjappl

In fact I think the Issue template should be simplified(and it should be up to the maintainer, not the user to determine whether a issue is a question, a bug, a feature request, or just a simple discussion.).

This will lower the threshold for people to ask questions or submit bugs.

Just have a simple issue template like `fzf`'s is enough I think.

PR involves the merging and updating of

[2019-11-22 12:56] cjappl commented on #59
Sounds good! I will address this in a few days, or feel free to do it yourself! Those ones both live in the .github folder, and you can easily edit on the web.

If you end up doing it, feel free to tag me for review, otherwise I'll do it when I'm free from vacation

[2019-11-22 13:01] wfxr commented on #59
@cjappl Ok, thank you. Have a good vacation!

[2019-11-22 13:04] rapha8l commented on #54
hello

Thanks a lot for your quick fix !
Indeed it works great
Have a nice day

[2019-11-23 08:13] cjappl commented on #59
LGTM closing

[2019-11-23 08:13] #59 closed

[2019-11-23 10:01] rockandska commented on #26
@marcobiedermann, from a pure completion side, I create a little project named [fzf-obc](https://fzf-obc.readthedocs.io) who add fzf over all completion scripts. Give it a try and open an issue on fzf-obc github if needed.

Regards,

[2019-11-23 21:41] mwelsch-tgm opened #61 "Fish use of unsupported command chaining like "&&" and "||""
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Steps to reproduce
- Copy & Paste `forgit.plug

[2019-11-24 03:14] cjappl commented on #61
Can you please post your OS and fish version? This is working for others,
as well as myself so I'd like to understand how your configuration is
different!

Thank you

On Sun, Nov 24, 2019 at 2:22 AM Wenxuan <notifications@github.com> wrote:

[2019-11-24 16:53] mwelsch-tgm commented on #61
Hello,
I had fish version 2.7.1 installed, works perfectly fine on version 3.0.2. I fucking hate fedora for providing apps in outdated version rather then removing them completly
cheers

[2019-11-24 16:53] #61 closed

[2019-11-24 18:42] cjappl commented on #61
Awesome! That's kind of what I was suspecting. I'll research into if we
should move to "and" and "or" instead of "&&" and "||"

I remember there being some subtle differences, may be worth doing even
though this is fixed by an upgrade.

Thanks for reporting back

On Sun, Nov 24, 2019 at 5:53 PM mwelsch-tgm <notifications@github.com>
wrote:

[2019-12-14 22:49] dawidd6 opened #64 "Failed to read /dev/tty when trying to execute "glo""
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

This is what hap

[2019-12-14 23:43] cjappl commented on #64
Thanks for reporting! I will look at this as soon as I can :)

On Sat, Dec 14, 2019 at 2:49 PM Dawid Dziurla <notifications@github.com>
wrote:

[2019-12-15 13:26] dawidd6 commented on #64
Related issue: https://github.com/junegunn/fzf/issues/1486

[2019-12-15 17:07] cjappl commented on #64
@dawidd6 would you please check if this shows the error?

git log --graph --color=always --format='%C(auto)%h%d %s %C(black)%C(bold)%cr' | fzf

[2019-12-15 17:54] dawidd6 commented on #64
No error, but shell color codes are showing. Better use `--color=never`.

[2019-12-16 20:28] ea2809 opened #65 "Preview not working in sub-directories"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [X] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [X] zsh
    - [ ] fish

## Problem / Steps to reproduce

Related with iss

[2019-12-17 03:23] wfxr commented on #65
I guess it may be caused by the incompatibility of `sed` between linux and mac.

I don't have a mac computer at hand now. Can you run the following command in your shell and show me the output here? @ea2809

[code]

[2019-12-17 03:47] wfxr commented on #65
@ea2809 I submitted a patch. It should fix the problem.

[2019-12-17 06:43] ea2809 commented on #65
@wfxr you are a genius. Thank for your time !! And for the fix 😃

The output of the command is:
[code]

[2019-12-17 06:43] #65 closed

[2019-12-18 19:37] cjappl commented on #64
Alright I'm having a very hard time reproing (albeit on another OS and setup). I would suspect that this isn't a bug with us, however, as we just basically harness the other tools to use.

We don't explicitly use /dev/tty anywhere, so it must be happening in one of the other commands we call.

@wfxr do you have any thoughts on this?

[2019-12-19 03:50] wfxr commented on #64
@cjappl Agree with you.

@dawidd6 Can you run the following commands and show us the outputs?

1.
[code]

2. (Preferably screenshot)
[code]

3. (Preferably screenshot)
[code]

[2019-12-21 15:06] amitlevy21 opened #66 "Show content of untracked files when previewing with `ga`"
Hi,

Thank you for making this tool!

## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem

[2019-12-22 02:14] wfxr commented on #66
Sounds good to me. Thanks for your suggestion @amitlevy21 !

[2019-12-22 04:19] wfxr commented on #66
@amitlevy21 Implemented by pr #67. You can now update and try if it works as expected.

[2019-12-22 07:03] amitlevy21 commented on #66
@wfxr Perfect! Thanks for responding so fast!

[2019-12-24 02:02] cjappl commented on #66
I'm going to reopen this to implement in fish :)

[2019-12-29 08:22] antoniy opened #68 "Remove explicitly untracked files from ga"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

With the recent

[2019-12-30 01:15] cjappl commented on #64
@dawidd6 going to close this if we don't hear from you soon!

[2019-12-30 03:54] wfxr commented on #68
Hi @antoniy Sorry but for some reasons I will not accept your suggestion.

1. We can not preview and add the untracked files individually If we remove the `--untracked-files` option. see #66

2. `ga` currently use `git status` to get the files which **can be added**. But it doesn't means `ga` must use `git status` and must respect every config of `git status`. In theory we can implement `ga`  with

[2019-12-30 08:29] antoniy commented on #68
Hello @wfxr
1. I'm sorry but I don't follow what the problem is. The ability to preview the untracked files is the change you've implemented in the `--preview` fzf argument and not the `git status` command.

[code]

Setting the option `--untracked-files` doesn't change anything for a normal user as it is the default - untracked files are shown by default in `git status`.

From `git-status` man pag

[2019-12-30 09:22] wfxr commented on #68
Hi @antoniy Thanks for your feedback.

I think we look at this issue from different view. In my view not showing untracked files in some scenarios is a bug existed in the former implementation. `ga` is an interactive simulation of the` git add` command, not `git status`. So if one file can be added using `git add`, `ga` has no reason not accepting it. This also means if there is an option make `gi

[2019-12-30 09:36] antoniy commented on #68
Okay, I understand your perspective from an ideological point of view and I respect that. Maybe I'll just use a custom solution that's more aligned for my use-cases and workflow.

I can see the technical problem you are pointing here. I was just too used to see that behavior for untracked directories in `git status` but you're right that generic `ga` should show those files.

[2019-12-30 09:36] #68 closed

[2019-12-30 09:48] wfxr commented on #68
@antoniy 🤝 Glad we reached an agreement!

Sure since the script is quiet simple you can paste and overwrite function `forgit::add` in your `zshrc` if you find other parts are ok to you.

[2019-12-30 10:15] dawidd6 commented on #64
@wfxr

1.
[code]

2.
![image](https://user-images.githubusercontent.com/9713907/71577725-926a1000-2af5-11ea-86de-db2c564954c5.png)

3.
![image](https://user-images.githubusercontent.com/9713907/71577750-a44bb300-2af5-11ea-9d55-b3dc577a27a2.png)

[2019-12-30 14:47] wfxr commented on #64
@dawidd6 I originally suspected that the environment variables might be overwritten incorrectly which causing the colors to wrongly displayed. But that doesn't seem to be the case now. I think @cjappl 's conclusion is right. This is unlikely to be a bug introduced by `forgit`. Sorry for not helping you. I will close this issue. But if you have any new findings please feel free to reopen this issue

[2019-12-30 14:47] #64 closed

[2019-12-30 21:16] cjappl commented on #66
Done :)

[2019-12-30 21:16] #66 closed

[2020-01-29 14:40] jcassee opened #71 "git log --graph edges point the wrong way"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

The git log view

[2020-02-04 02:32] wfxr commented on #71
Thanks for your feedback @jcassee . I will check this after the vacation.

[2020-02-17 04:07] wfxr commented on #71
Hi @jcassee . You're right, git doesn't provide such an option. There is a work around to make the graph reasonable when the commits are shown bottom-up:
[code]
But before we have a better implementation I do not want to merge it into the code base. The main reason is we don't find a not complicated way to check if reverse option is enabled for fzf. The above code does simple string pattern matchi

[2020-02-17 10:53] jcassee commented on #71
@wfxr Yeah, determining how fzf is used exactly is difficult. (By the way, the `sed` command would also switch slashes in the commit message, but that can be corrected.)

I know you did not want to, but maybe this is a good reason to allow customization of the `git log` command...?

[2020-02-17 13:35] wfxr commented on #71
@jcassee `sed` replace only once per line unless `g` was specified at the end of replace pattern. So the above code will not switch slashes in the commit messages.

I understand your suggestion. Someone also mentioned this before. Because the extraction of the commit hash relies heavily on the output format of the git log I haven't adopted the suggestion before. But I will reconsider it.

I will k

[2020-02-17 13:50] jcassee commented on #71
Good point. But that means it will only replace the _first_ slash, while there may be multiple. :smile:

Anyway, I understand you want to think it over some more. It's a subtle issue.

[2020-02-20 13:49] BirkhoffLee opened #72 "zsh:7: parse error near `|'"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce
I just have pulle

[2020-02-20 18:00] BirkhoffLee commented on #72
Not sure why. It has just disappeared.

[2020-02-20 18:00] #72 closed

[2020-03-04 08:34] loonies opened #74 "gd - unknown action: c |LESS='-R' less)"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

`gd` or `gd <dir

[2020-03-04 08:37] loonies opened #75 "ga - patch mode"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

Irrelevant

## Feature

Add a new command, or extand `ga` for patch mode (`git add --patch`).

[2020-03-04 21:26] nothingelsematters opened #76 "fzf preview bat error"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce
i have constantly

[2020-03-09 12:11] telefunken commented on #74
I got a similar error on the same call: bind action not specified: 5 -R |LESS='-R' less)

[2020-03-17 13:02] dansdantas opened #78 "Problems on displaying items on tmux"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

On tmux when i c

[2020-03-18 02:52] wfxr commented on #78
@dansdantas I don't have this problem. As you said, this should be a matter of tmux color configuration. I put my related `.zshrc` and `.tmuxconf` config here. Hope it does some help to you.

[code]

[code]

BTW my terminal is `Alacritty`. But I'm sure most of the other terminals should work without problem.

[2020-03-18 02:52] #78 closed

[2020-03-18 03:17] wfxr commented on #76
@nothingelsematters This is a good suggestion. Thanks for your contribution. Can you fix same issue in other places like `forgit::restore`, `forgit::stash::show` etc?

[2020-03-18 03:32] wfxr commented on #74
I cannot reproduce the problem. Even if I changed my pager in `.gitconfig` as @telefunken 's (with or withour pipe).

Can you provide the smallest environment to reproduce this problem steadily? @loonies

[2020-03-18 03:40] wfxr commented on #75
I think to completely solve the similar problems we shoud support pasing arguments to the final `git add` command. But there are some troubble because `ga` already take it's arguments as filters to only list files start with those paths.

[2020-03-18 12:08] dansdantas commented on #78
Yeah, it was the `term` value for kitty. Nothing related to forgit. What a wild ride. But thanks again.

[2020-03-22 14:25] #76 closed

[2020-03-27 22:48] omares commented on #71
Hey any progress on this issue? :) Is there maybe an option to turn off the graph output?

[2020-03-29 08:31] wfxr commented on #71
@omares @jcassee Sorry for the late reply. Now you can disable the log graph by set `FORGIT_LOG_GRAPH_ENABLE` to `false`.

[2020-03-30 13:55] omares opened #80 "gd with one file"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

When running `gd

[2020-03-30 15:19] cjappl commented on #80
Hey @omares would you please make sure this works with bash too?

Thank you :)

[2020-03-30 16:09] cjappl commented on #71
I believe we can close this now @wfxr, fish has the appropriate behavior as well

[2020-03-30 16:09] #71 closed

[2020-03-30 19:18] jcassee commented on #71
Thanks, @wfxr!

[2020-03-31 09:12] omares commented on #80
@cjappl not sure if I get your message right. This is a bug that I experience when using forgit. I am able to reproduce it also on bash.

[2020-03-31 17:07] cjappl commented on #80
In the description, you just checked "zsh" instead of both "bash" and "zsh", just wanted to make sure the situation was reproducible in bash!

I'll check that box for you too

Thank you :)

[2020-04-04 04:57] airelil commented on #74
Getting the same error on Ubuntu 18.04 and bash while trying forgit online. I ran it in tmux session. Here is my short sessions and .gitconfig
[code]
[code]

[2020-04-07 07:06] wfxr commented on #74
@airelil Thanks for your feedback. I will look into it.

[2020-04-07 07:42] wfxr commented on #74
@airelil Sorry but I still can not reproduce the error:

[code]
![image](https://user-images.githubusercontent.com/6105425/78643035-3974f980-78e6-11ea-9033-1713c3b48988.png)

[2020-04-08 02:57] wfxr commented on #74
There are some problems in using the sub shell at the preview option of fzf. I rewrited it using pipe instead. You can update and try it now.  @airelil

[2020-04-08 07:33] loonies commented on #74
Works for me. Thanks

[2020-04-08 20:24] airelil commented on #74
@wfxr , thanks for the finding the time to look into the issue and for the quick fix! I can confirm that `gd` command now works for me. However, you might didn't notice in my log above, but `gss` command failed the same way for me. I guess, you could apply the same fix for `gss`, as well?

[2020-04-08 21:46] cjappl commented on #80
@wfxr, just tagging you in case you didn't see this!

[2020-04-09 02:44] wfxr commented on #80
Hi @cjappl I noticed this but I didn't fully understand what @omares meant. `gd` works fine for me whether with one file or multiple files changed. Maybe some screntshots or gifs can help.
What about you @cjappl ? Can you repro the problem?

[2020-04-09 03:07] wfxr commented on #74
@airelil Fixed.

[2020-04-09 03:13] wfxr commented on #74
@cjappl Can you help fix this for `fish`? I tried to do the same changes but it seems not work. :(

[2020-04-09 03:51] airelil commented on #74
Thanks! gss works too

[2020-04-09 04:25] cjappl commented on #74
@wfxr Yep no problem, I will check it out soon

[2020-04-09 04:25] cjappl commented on #80
I'll give it a try tomorrow :)

[2020-04-09 16:25] cjappl commented on #74
Fish is fixed. Closing! thanks for reporting everyone :)

[2020-04-09 16:25] #74 closed

[2020-04-09 16:27] cjappl commented on #80
I cannot repro this on either zsh or fish. Going to close for now. This could have been fixed with #74 ?

@omares please pull the latest and try again. If you still see it, please provide detailed steps to repro and we can try again

[2020-04-12 14:17] thepenguinthatwants opened #84 "gi crashing in bash."
## Check list

- [x ] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [ x] I have the latest version of forgit
- [ x] I have searched through the existing issues

## Environment info

- OS
    - [x ] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x ] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

I wrote

`g

[2020-04-13 03:51] wfxr commented on #84
@thepenguinthatwants `forgit` does not use anything related to `npm` or `node`. I don't know why npm was called from it. Please make sure your `gi` is exactly the alias of `forgit::ignore` but not other command.

[2020-04-15 06:23] #84 closed

[2020-04-16 12:29] NullSense opened #85 "glo: doesn't display proper diffs with commit history slice"
## Environment info

- OS
    - [x] Linux
- Shell
    - [x] zsh

## Problem / Steps to reproduce
`glo first_ref..last_ref`

e.g.: `glo 188a849b..73e5ca0d`

## Expected behavior:
Shows the commits only including that slice, and each diff is separate.

## Actual behavior:
Shows the commits only including that slice, but if you hover over any of them, it shows the diff of the whole slice itself, not

[2020-04-17 02:19] wfxr commented on #85
Hi @NullSense As `REDME.md` descripted, `glo` accept **path** arguments to restrain the items listed in fzf (eg, glo main.go test.go). It's just a coincidence that commit ref can be used either.

But commit ref as the parameter for `glo` should be a good improvement. I will consider implementing it.

[2020-04-17 04:31] wfxr commented on #85
@NullSense Implemented. Now can filter both refs and files like this:
`glo 188a849b..73e5ca0d -- main.go`

[2020-04-17 13:29] NullSense opened #86 "glo: looking at a specific commit renders mouse unusable"
- OS
    - [x] Linux
- Shell
    - [x] zsh

## Problem / Steps to reproduce
1. `glo ref`
2. press enter to select a commit ref
3. try selecting text with mouse for copy
4. can't select the text

So if you actually use `git show ref`, you are able to select text in the less output, but not with glo...

[2020-04-18 02:35] wfxr commented on #86
@NullSense You should go to `fzf`'s repo to file the issue. It's nothing about `forgit` if you did a simple comparative test:
[code]

BTW you can try keep `shift` key pressed when selecting something from terminal.

[2020-04-18 02:35] #86 closed

[2020-04-20 04:17] wfxr commented on #85
@cjappl Ping...
This feature can be ported to `fish` version.

[2020-04-20 04:42] cjappl commented on #85
Yep! I’m on it, sorry for the delay I should have told you I saw it :)

I’ll be working on it tomorrow, just had a weekend off.

Cheers! Hope you are staying safe and healthy.

On Sun, Apr 19, 2020 at 9:17 PM Wenxuan <notifications@github.com> wrote:

[2020-04-20 08:22] wfxr commented on #85
@cjappl That's all right.
I'm fine. And hope you are safe and healthy too friend!

[2020-04-20 21:59] cjappl opened #87 "Fish 3.1 is broken with FZF"
This is just to track on our end, so I can make sure it works eventually.

Fish 3.1.0 has a regression that breaks a lot of fzf functionality, details here:
https://github.com/fish-shell/fish-shell/issues/6624
https://github.com/fish-shell/fish-shell/issues/6692

Once these two issues are closed, we can test again. For now, all users who depend on forgit should only use fish 3.0

[2020-04-20 22:03] cjappl commented on #64
Hey @dawidd6 This has been tracked now in #87 There does seem to be a significant issue in Fish using fzf, that is breaking our stuff. If you want, you can roll back to fish 3.0 until they get that fixed

[2020-04-20 22:09] omares commented on #80
Hey @cjappl and @wfxr, the issue still persists for me, albeit running the latest version. Enclosed is a gif recording of the issue. I created a fork of this repo and modified the `README.md`.
In the recording you see me entering the `gd` command and as a result only receiving the list of changed files, instead of the diff interface.

![wxfr_forgit](https://user-images.githubusercontent.com/137530

[2020-04-20 22:45] #85 closed

[2020-04-20 22:46] cjappl commented on #85
Good to go on fish :) Thanks for reporting @NullSense

[2020-04-20 22:50] cjappl commented on #80
Hmm, yeah I definitely see it in your gif, but unfortunately not on my side of things.

@wfxr any ideas on how to help track down the root cause?

@omares would you report your versions of fzf, and zsh?

[2020-04-21 03:20] wfxr commented on #80
@omares Have you enabled `-1` or `--select-1` option globally for `fzf`?

[2020-04-22 13:28] omares commented on #80
@wfxr yes i do

[code]

[2020-04-23 02:27] wfxr commented on #80
@omares Since `--select-1` is enabled `fzf` will print and quit if only one line is accepted. So it is not recommanded to enable this option globally.

[2020-05-07 11:35] #80 closed

[2020-05-13 13:46] akaralar commented on #71
just as a heads up, I faced the same thing and added this to my `.zshrc`:
[code]

Before `fzf` or `forgit` is initialized. It displays correctly, only the typing box of `fzf` is at the top instead of bottom, but otherwise it is good.

[2020-05-26 17:25] bs opened #92 "Adding multiple files without quitting?"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [x] fish

## Problem / Steps to reproduce

Is there a way t

[2020-05-27 01:52] wfxr commented on #92
Hi @bs The default keybind for `fzf` to mark the selection is `tab`. Use `tab` multiple times to select multiple files. Also you can toggle all selections using `ctrl - r` which is defined by `forgit`.

[2020-05-27 04:29] bs commented on #92
Oh, dope! I hadn't needed to use FZF for anything with multiples before.

Thanks for your work! 🥇

[2020-05-27 04:31] wfxr commented on #92
You're welcome :)

[2020-05-27 04:31] #92 closed

[2020-06-07 00:57] #87 closed

[2020-06-08 16:57] cjappl opened #94 "FISH: gcf doesn't respect tab to multi select, will only checkout first file"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Mac OS X

- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

When using `gcf` on fish with tab to multi-select, it will only sel

[2020-06-08 16:57] cjappl commented on #94
assigning myself so I can look into a fix when I have time

[2020-06-10 11:07] wfxr commented on #94
Hi @cjappl zsh and bash should not have this issue:

https://github.com/wfxr/forgit/blob/0a817455d95f30aead9f4bc330e158e7b3d840ad/forgit.plugin.zsh#L111-L115

[2020-06-15 02:05] #94 closed

[2020-06-21 01:26] shyamsundar opened #96 "Bash syntax error when executing `ga`"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

I added `source

[2020-06-21 01:49] cjappl commented on #96
Thanks for the report! I’ll look at this asap, sorry for the problem :)

On Sat, Jun 20, 2020 at 6:26 PM shyamsundar <notifications@github.com>
wrote:

[2020-06-21 02:18] cjappl commented on #96
Are you sure you're running this in fish?

It's strange that there is bash error, that shouldn't happen, it should all be run in fish.

can you do the following commands:

[code]
and see if it works and what $SHELL is?

[2020-06-22 17:35] shyamsundar commented on #96
Hi Chris,

Thank you for your quick response. I was running it in `fish` configured in `iTerm`. But when I executed the commands you gave,`echo $SHELL` returned `/bin/bash`. I have changed the shell to `fish` using `chsh` and it is working as expected.  The diff loading seems to be a bit slow, but I'll play around with it some more. Definitely more useful tool.

Thank you.

[2020-06-22 17:35] #96 closed

[2020-06-22 17:46] cjappl commented on #96
Great! Glad that worked for you. Don't hesitate to reach out if you have any other issues :)

[2020-07-01 16:43] cjappl opened #97 "Forgit should start from the "top down" to allow users to tab through their options"
## Check list

- [ ] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [ ] I have the latest version of forgit
- [ ] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [x] Mac OS X
    - [x] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [x] zsh
    - [ ] fish

## Feature Request

When adding many files with `

[2020-07-01 16:46] cjappl commented on #97
@wfxr any thoughts on this one? Requested by a friend and I think it's a great idea

[2020-07-02 00:01] wfxr commented on #97
Hi @cjappl Start cursor at the top of the list in default layout is not possible but switch tab's behavior is easy:

[code]
(`btab` means Shift - Tab)

Or you can add `--reverse` to `FORGIT_ADD_FZF_OPTS` which only affects `forgit::add`'s behavior.

[2020-07-02 12:49] 3v1n0 opened #98 "Add a git status support that allows to stash/unstash files"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

Would be nice to

[2020-07-02 15:41] cjappl commented on #97
Awesome! That's super useful. Added something to the README for it so new users could know. Thanks for the tip

[2020-07-05 18:55] ejolly opened #100 "Forgit doesn't respect delta themes"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [X] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [X] zsh
    - [ ] fish

## Problem / Steps to reproduce

Configuring [del

[2020-07-06 03:00] wfxr commented on #100
`forgit` just reads `core.pager` in `.gitconfig` as its pager. I don't known why it does't work for you. Can you show your `$forgit_pager` here?

[code]

[2020-07-06 15:19] ejolly commented on #100
Sorry closing this it was an error in my `.gitconfig` which I copied from from delta's README. It shows `theme = ''` in its example `.gitconfig` whereas the option has been renamed `syntax-theme=''` to match the command-line flag

[2020-07-06 15:19] #100 closed

[2020-07-14 22:29] m42martin opened #101 "What's the protocol for pull requests?"
I haven't contributed to open source projects in the past and thought I should ask about your preferences first.

I added a function to handle switching branches.  I only use bash in WSL and haven't made the same changes to the fish script.  Also, it's not ready for integration yet because I stripped out some of the FZF opts to get it working quickly for me.    At any rate, I'd like to contribute

[2020-07-14 22:35] cjappl commented on #101
Hi @m42martin. Excited to have you contribute!

I'd say just submit it if you get it working. Be sure to try to match the general code style, and follow good conventions (nice short well named functions, etc)

It will be reviewed by @wfxr who is the main developer of the tool. No real worries if you can't test it in fish, that's my job to convert things over and maintain parity. If you can get it

[2020-07-15 07:37] wfxr commented on #101
Thank you @cjappl . You made a great reply.

It's a good habit to open an issue to discussion before submitting PRs. Sometimes one's understanding of the project may not be consistent with the project author or maintainers. So if you want to make a big change, make sure to open an issue first. This may reduce the frustration of PR rejection.

@m42martin Back to your specific question:

Welcome to

[2020-07-15 12:38] m42martin commented on #101
Thanks @wfxr and @cjappl.  I'm not sure if my idea for branch switching makes sense after @wfxr 's comment.  Let me think about it for a while.  I may create an issue ticket to discuss later this week; maybe this weekend.

Cheers for the nice snippet ideas @wfxr !

[2020-07-15 12:38] #101 closed

[2020-08-01 17:50] cjappl commented on #98
@wfxr would you like to respond or close this as you see appropriate?

[2020-08-02 02:28] wfxr commented on #98
I have read this issue, but I feel that the value this feature brings is not as much as the complexity it will require.Although it may be possible, implementing a status layout like the screenshot showed is not a good use of fzf.

Since forgit is positioned as a lightweight plugin aimed to enchance file selecting and previewing related operations for git, using fuzzy finder fzf. I want to keep the

[2020-08-03 16:30] #98 closed

[2020-08-08 15:08] #75 closed

[2020-09-05 21:29] MenkeTechnologies opened #110 "forgit zsh functions should be autoloaded"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [ ] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce
forgit:: function

[2020-09-06 02:42] wfxr commented on #110
@MenkeTechnologies Thank you.

I don't think forgit significantly slows down the startup of zsh.
[code]

`nothing.zsh`:
[code]

Sourcing `forgit.plugin.zsh` use extra **2.8ms** than sourcing `nothing.zsh`. Does it have any major impact on startup speed? I do not think so. If you are really not satisfied with your zsh startup speed, you should try [zinit](https://github.com/zdharma/zinit) or [zsh-d

[2020-09-06 04:51] MenkeTechnologies commented on #110
I already use zinit.  The advantages of autoloading go beyond CPU time.  It is also reduced memory usage.  Also the plugin is more modular and maintainable with all the functions in one directory as opposed to stuffed in one file.  Also it is a principal Zsh design to use autoloading.  It is a Zsh antipattern when frameworks like OMZ do not autoload their functions and dump their functions defs in

[2020-09-06 05:49] wfxr commented on #110
Sorry, I don’t agree with you. Of course we can even split each function into a separate executable file, and then add them into the PATH to avoid loading it at shell startup. But the question is, what are the real benefits of doing so?

If loading a plugin is really time-consuming or memory-consuming, it is appropriate to use this specific lazy loading technique (not the only way, just one of). B

[2020-09-06 05:49] #110 closed

[2020-09-23 10:07] wfxr commented on #97
@cjappl Now `fzf` has a new layout `reverse-list`:

I find it meets your needs better.

[2020-09-23 15:19] cjappl commented on #97
Awesome! thanks for thinking of me, that is exactly right!!

For future reference, anyone reading this, the command in fish to make forgit behave like this is:

`set FORGIT_FZF_DEFAULT_OPTS "$FORGIT_FZF_DEFAULT_OPTS --layout=reverse-list"`

You can put this anywhere in your fish config file!

[2020-09-23 19:30] dcontt00 opened #115 "gi command not working f"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce
When using gi and

[2020-09-24 02:07] wfxr commented on #115
@dcontt00  Can you paste your command here? I need to known how you call `gi` command.

[2020-09-24 07:50] dcontt00 commented on #115
I reinstalled fzf and forgit and it already works for me. The command I was using was `gi >> .gitignore`, so that the content of the gi selection was written to the .gitignore. Thank you anyway

[2020-09-24 08:06] wfxr commented on #115
You're welcome.

[2020-09-24 08:06] #115 closed

[2020-10-09 05:31] FollieHiyuki opened #116 "Compatible with a fish plugin manager"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

Hi. Thanks for a

[2020-10-09 14:54] cjappl commented on #116
Hi @AoHiyuki. This is a great idea.

Unfortunately I don't have a lot of experience using or developing fish plugins for these systems. Do you have any experience? If so, please feel free to do a PR on this!

Otherwise it may be a little bit while I figure out how to make it work :)

[2020-10-09 19:24] AoHiyuki commented on #116
Hi @cjappl. I made it working with Fisher. Fairly simple as I described.
As I'm not familiar with Oh My Fish, it may take a while for me to figure out.
1 question though: do you mind if I separate the plugin into autoload and functions, since issue #110 ?

[2020-10-10 02:32] wfxr commented on #116
@AoHiyuki The main reason I object to splitting `forgit.plugin.zsh` is that it makes it difficult for zsh and bash to share code, or you have to do a lot of dirty work. This however does not make the plugin easier to use or maintain.

But for the fish version, it is not compatible with zsh or bash from the beginning (As you can see, it is a translation of the bash/zsh version, not a symbol link).

[2020-10-13 04:24] wfxr commented on #116
`fisher` support has been implemented. I think this issue can be closed now @cjappl

[2020-10-13 17:27] cjappl commented on #116
Sounds good.

Thanks for the good work @wfxr  and @AoHiyuki

[2020-10-13 17:56] AoHiyuki commented on #116
Only 1 minor issue @cjappl , but it doesn't affect anything badly.

[2020-10-13 23:41] cjappl commented on #116
Any idea what the fix would be for this?

Thanks for catching it

On Tue, Oct 13, 2020 at 10:56 AM AoHiyuki <notifications@github.com> wrote:

[2020-10-14 01:04] AoHiyuki commented on #116
I would only keep the file inside conf.d directory and delete the other one @cjappl .

[2020-10-14 02:25] wfxr commented on #116
@AoHiyuki I used symbol link to reuse the shorten url.

fisher's mechanism for loading plugins seems a bit special.  I wonder if it support the plugin placed in a subdirectory? Like this layout:
[code]

[2020-10-14 02:54] wfxr commented on #116
@AoHiyuki I replaced the link with actual file. You can update and test if it works fine.

Now `forgit`'s project layout seems already compatible with [omf](https://github.com/oh-my-fish/oh-my-fish):

[code]

@cjappl Would you like to submit a PR to [this repo](https://github.com/oh-my-fish/packages-main) so that users can install forgit by using name instead of full url?

[2020-10-14 03:23] AoHiyuki commented on #116
@wfxr yeah it works fine. Thanks for the quick fix.

Both Fisher and OMF utilize the conf.d directory, so we can already install `forgit` with either one. Fisher copies it directly to ~/.config/fish/conf.d so it works with no problem. OMF in the other hand sources the file when we start a new shell on its own, that leads to the problem I mentioned.

[2020-10-14 03:45] wfxr commented on #116
Got it. @AoHiyuki

[2020-10-14 04:15] wfxr commented on #116
@AoHiyuki Changed all variables which should be global to global. I think this is the rightway to solve the problem.

[2020-10-14 04:23] AoHiyuki commented on #116
I just installed OMF to test it and it works. You can update README for both plugin managers now @wfxr . I didn't make the change earlier since I wasn't sure enough whether making them global could break things.

[2020-10-14 04:35] wfxr commented on #116
Updated url from `git.io/forgit.fish` to `git.io/forgit-fish` because as of Sep 2020 we can no longer request git.io outdated or incorrect shortened URLs be released by GitHub Support.

https://github.blog/changelog/2020-09-23-git-io-urls-no-longer-released-by-github-support/

[2020-10-14 17:27] cjappl commented on #116
Requested that we be added to the public repo:
https://github.com/oh-my-fish/packages-main/pull/126

[2020-10-14 17:27] cjappl commented on #116
Will close when we are in there.

[2020-10-25 16:11] yahkun opened #120 "Problem with "antigen purge""
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce
![image](https://

[2020-10-25 17:03] cjappl commented on #120
Hi @yahkun would you please provide more information on what you are doing, and what the issue you are having is?

This issue does not have enough information to act currently.

[2020-10-25 17:46] yahkun commented on #120
Sorry, I should post this issue to `antigen` 😁

[2020-10-25 17:46] #120 closed

[2020-10-31 10:11] mrswats opened #121 "Delta side-by-side not displayed correctly on fzf preview window"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

I have been usin

[2020-11-04 03:52] wfxr commented on #121
@mrswats Sorry for the late reply. Can you show your git diff pager? (`git config --global core.pager` )

[2020-11-04 08:08] mrswats commented on #121
That would be `delta` and in my git config i have `side-by-side = true`.

[2020-11-04 08:13] crivotz commented on #121
@mrswats same problem here.

![xxxxxx](https://user-images.githubusercontent.com/3275600/98085673-f5e36d80-1e7d-11eb-8eca-218bb29a271b.png)

[code]

[2020-11-04 09:15] mrswats commented on #121
Yes, this is a similar configuration I have.

[2020-11-04 09:24] wfxr commented on #121
I doubt whether `delta` can still correctly handle the width when the ouput is not a tty. You can try the following two commands:

[code]
[code]

[2020-11-04 10:08] mrswats commented on #121
You are correct! The first one displays delta's side-by-side correctly taking up all the terminal width evenly for each split while the second one indeed does whatever the hell it wants.

Thank you for your help, I will look at delta's issues and investigate on the other side and will report back if I find something useful.

[2020-11-04 10:09] mrswats commented on #121
Okay, just right after comenting the other issue the first open issue in delta is this one: https://github.com/dandavison/delta/issues/368 which is exactly the issue I reported.

[2020-11-11 11:03] wfxr commented on #121
A workaround based on @Kr1ss-XD 's comment:

[code]

The only cons of this solution is it need to be set manually instead of reading it from git's config.

@mrswats @crivotz

[2020-11-11 12:52] mrswats commented on #121
Could we maybe add this somewhere in the docs while it gets fixed in delta? (assuming it has to be fixed somewhere else)

[2020-11-11 13:02] crivotz commented on #121
Thank you very much

[2020-11-11 16:10] mrswats commented on #121
Just for future reference, it seems that this feature will be implemented soon(ish) and is currently being discussed here: https://github.com/dandavison/delta/issues/359

[2020-11-11 16:10] mrswats commented on #121
And with both workaround and discussion over in delta I will be closing this issue.

[2020-11-11 16:10] #121 closed

[2020-11-12 03:46] wfxr commented on #121
@mrswats Thanks for your help and suggestion. I will pin this issue until it gets fixed more elgantly so that others with the same problem will easily find the solution.

BTW I like delta's `side-by-side` view but it is not suitable when the window is narrow. So I use the following config that can auto switch to classic view when the with of window is less than 160. Hope it can help you too.

[cod

[2020-12-03 11:26] fedoranvar opened #125 "No suggestion for cherry-pick on <TAB>"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

No suggestion (b

[2020-12-04 02:31] wfxr commented on #125
@fedoranvar Sorry, forgit functions does not support shell completion. This might not be a big problem, because most forgit functions don't need to receive parameters.

[2020-12-04 02:31] #125 closed

[2020-12-09 05:10] hrai opened #127 "forgit::diff has stopped working"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [x] Others: Ubuntu on WSL 2
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

[2020-12-09 07:18] wfxr commented on #127
Does `fzf` works ok? And what's the exit code? (print by `forgit::diff; echo $?`)

[2020-12-09 20:18] FollieHiyuki commented on #116
Hi again. Fisher made an update a few months back.

The syntax to install should be `fisher install wfxr/forgit` now

[2020-12-17 00:57] hrai commented on #127
@wfxr yeah `fzf` works fine
![image](https://user-images.githubusercontent.com/4055444/102424015-645f4200-405e-11eb-8afe-e7dbc55427e1.png)

`forgit::diff; echo $?` prints 1

[2020-12-17 00:59] hrai commented on #127
I just realised that I have a `sed` alias.

Unaliasing fixed the issue. :)

[2020-12-17 00:59] #127 closed

[2020-12-26 18:05] petobens opened #129 "extra blank line between result when grepping git log results"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

Using `forgit::l

[2020-12-28 02:45] wfxr commented on #129
Maybe you want to disable git log graph?
[code]

[2020-12-28 04:14] petobens commented on #129
Neat. Thanks!

[2020-12-28 04:14] #129 closed

[2021-02-08 20:38] cjappl opened #133 "Implement gcb in fish"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- Shell
    - [x] fish

## Problem / Steps to reproduce

Task to recreate #131 in fish.

@wfxr  will hopefully get to it this weekend!

[2021-02-12 19:51] cjappl commented on #97
@wfxr How would you feel adding --layout=reverse-list to the default FZF_FORGIT_OPTS?

I have found this to be a big upgrade, and would support adding it for both zsh and fish.

[2021-02-18 03:47] wfxr commented on #97
@cjappl But not few people are used to the `reverse` layout. I think it's better to respect user's own `FZF_DEFAULT_OPTS`. If they want to choose a different layout for `forgit` they still can override it in `FORGIT_FZF_DEFAULT_OPTS`. What do you think of it?

A related issue:
https://github.com/wfxr/forgit/issues/4#issuecomment-394098310

[2021-02-18 03:54] wfxr commented on #133
@cjappl The related PR has been merged. Thank you!

[2021-02-18 03:54] #133 closed

[2021-02-19 02:44] cjappl commented on #97
I will leave it to you as the owner, but I definitely think the top down is a lot better experience!

Specifically because when I'm doing an action like "ga", it's nice to just tab down through the list, as opposed to shift+tab. It just feels like a more natural UI to me!

Whatever you decide, I fully support :) I just always forget to add the option on a new install and I have to remember to re-a

[2021-02-19 03:30] wfxr commented on #97
@cjappl The main reason I think `reverse-list` should not be set by default in forgit is that it is not the only reasonable layout for forgit and pre-set it will overwrite one's global layout option for fzf, i.e `FZF_DEFAULT_OPTS`. In fact `reverse` (not `reverse-list`) is also a widely used layout and it is suitable for forgit too. If we do this people who use another layout like `reverse`  as fz

[2021-02-19 03:30] #97 closed

[2021-02-26 10:10] NullSense opened #136 "Branch switching with git switch (git changes)"
gcb() doesn't work anymore as git now uses `git switch` instead of `git checkout`.

[2021-02-26 10:33] wfxr commented on #136
After which version? I tested with v2.30.1 and it works fine.

[2021-03-06 21:49] levito opened #138 "`grb` (interactive rebase) breaks zsh prompt"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X (10.15.7)
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh (5.7.1)
    - [ ] fish

## Problem / Steps to reproduce

[2021-03-08 02:31] wfxr commented on #138
@levito It seems this problem is caused by the editor. Are you using `vim` as the editor for git?

[2021-03-08 08:29] levito commented on #138
Hey @wfxr, thanks for the quick response! It looks like this fixed the issue!

Btw.: when trying to find the cause, I disabled almost every line in my zshrc, but I didn't change my git editor... 😅

[2021-03-09 01:56] wfxr commented on #138
Glad to see that. Also thank you for reporting this!

[2021-03-09 01:56] #138 closed

[2021-03-09 20:53] wren opened #141 "git log copy binding (ctrl+y) includes a newline"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce
After using the d

[2021-03-10 02:03] wfxr commented on #141
@wren Thank you for reporting this. It should have been fixed by the latest commit. Please update and check if it works for you.

[2021-03-10 20:23] wren commented on #141
@wfxr Works great. Thanks for the quick fix!

[2021-03-11 01:01] #141 closed

[2021-03-24 22:22] puneetse opened #144 "glo does not work with multi-selection"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce
glo does not beha

[2021-03-26 15:28] goodevilgenius opened #147 "Ability to use the commands as sub-commands of `git`"
I think this would be pretty useful if it was possible to use as a sub-command of `git`, rather than as shell aliases.

## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows

[2021-03-29 02:41] wfxr commented on #147
@goodevilgenius Thanks for your suggestion! This would be a nice extension for `forgit` IMO. Since I'm a bit busy lately, I would be glad to accept the pr if you are willing to contribute.

[2021-03-29 03:03] wfxr commented on #144
@puneetse Thanks for your report.

Well, `glo` was intentionally designed to work under the single selection mode. In fact `glo` uses `enter` to preview the diff content with full-screen. And you will back to fzf after you quit the preview.

https://github.com/wfxr/forgit/blob/416ac0308f4ec4a81ccf26e4ecbf7ea98b87b3db/forgit.plugin.zsh#L25-L26

For your example `git log --oneline -- some/file/path

[2021-04-01 01:06] goodevilgenius commented on #147
@wfxr if I can find the time to clean up my script and provide an easy way to install, I'll put together a PR.

Although if someone else comes along with more time they can feel free to use my script as a starting point.

[2021-04-01 01:43] wfxr commented on #147
@goodevilgenius Thank you.

I added a link to this issue in reademe to help others find this solution.

[2021-05-05 03:18] #136 closed

[2021-05-20 14:06] Araly opened #152 "when using "ga" to git add: zsh:11: parse error near `else', no diff in right box"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

In any git repo

[2021-05-20 15:27] cjappl commented on #152
will you try typing `fish` before you try `ga` again, just to be sure you're running it in fish? It's strange to see a zsh error while running the fish version of this plugin! I suspect a configuration error.

Is this just with `ga`, or with other commands too?

[2021-05-21 07:50] Araly commented on #152
I am running fish for sure, but I see that the SHELL variable is set to /bin/zsh, and if I try to set it with fish as a universal variable (that persists over reboots), it tells me it's overshadowed by a global variable (that is set for all sessions but doesn't persist) of the same name. So somewhere in my config something is setting that variable. If I just set the variable for that session only

[2021-05-21 14:44] cjappl commented on #152
@wfxr Have you ever seen anything like that?

Good luck @Araly, be sure to post a comment if you figure it out, may help someone in the future :)

[2021-05-21 15:03] wfxr commented on #152
I haven't seen this error. The error message looks like the `fish` plugin was sourced in the `zsh` shell
for some reasons.

[2021-05-22 17:18] cjappl commented on #152
Very strange, for sure!!

[2021-05-23 10:51] Araly commented on #152
I couldn't find why the SHELL variable was set as a global variable anywhere. I have a setup at work where I can't chsh (it gets reset on reboots) so I tell alacritty and guake to run fish instead of the default shell. Maybe zsh still gets called and sets itself as SHELL, or maybe that's just set at login because my default shell is zsh.

My solution was to have `set -gx SHELL /usr/bin/fish` in `~

[2021-05-24 15:21] cjappl commented on #152
Very strange! Well, glad you got to the bottom of it. Don't hesitate to reach out if you find any more issues

[2021-06-01 03:33] goodevilgenius commented on #147
Still valid. Not stale.

[2021-06-01 06:10] Xwil opened #153 "Checkout remote branch"
## Check list

- [ x ] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [ x ] I have the latest version of forgit
- [ x ] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [ x ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ x ] zsh
    - [ ] fish

## Problem / Steps to reproduce
Cannot

[2021-06-01 07:23] wfxr commented on #153
I can't repro. Seems works fine?

![image](https://user-images.githubusercontent.com/6105425/120282920-33fa2000-c2ed-11eb-859c-f59d36d0e793.png)

[2021-06-01 12:42] Xwil commented on #153
![Xnip2021-06-01_20-34-59](https://user-images.githubusercontent.com/11806619/120324317-1347bf80-c319-11eb-88b7-bb3aa46bd623.png)
![Xnip2021-06-01_20-35-27](https://user-images.githubusercontent.com/11806619/120324319-15aa1980-c319-11eb-93af-18de4cdf4f92.png)
Weird. In my project, There are 'detached HEAD' problem. I'll try in other projects later. Thx.

[2021-06-01 12:45] Xwil commented on #153
I tried in forgit repo, there are still 'detached HEAD' problem.

![image](https://user-images.githubusercontent.com/11806619/120325452-3b83ee00-c31a-11eb-96d2-3b81b560f768.png)

[2021-06-01 15:09] wfxr commented on #153
@Xwil The `... detached HEAD ...` message is expected. It tells you the remote branch (theoretically read-only) is not actually a normal local branch and you can run `git switch -c <new-branch-name>` to create a corresponding local branch if necessary.

You can find that run `git checkout origin/revert-117-master` directly have the same result:
[code]

This message seems to appear only once (so do

[2021-06-01 15:21] Xwil commented on #153
Thanks.

What if forgit provide an option, when I try to checkout a remote branch, I can pass some arguments? like `git checkout --track origin/revert-117-master`.

In my case, I want to directly checkout into a remote branch, and I do not want to type `git switch -c ` and branch name again.

[2021-06-02 04:28] wfxr commented on #153
Thank you @Xwil. I understand your needs. Unfortunately there is not an easy way to achieve this.

`gcb` regard it's argument as the branch name for now,

https://github.com/wfxr/forgit/blob/d5e0fd86e946a3f147f21b9b7a3cef0e874ee684/forgit.plugin.zsh#L221

and the trouble is we can only checkout the same remote branch with `--track` once because the corresponding local branch will be created after

[2021-06-02 04:48] wfxr commented on #153
@Xwil I added the auto track logic in `forgit::checkout::branch`. You can update and try it.

[2021-06-02 08:47] Xwil commented on #153
Works fine, very nice work, thx.

[2021-06-02 08:47] #153 closed

[2021-06-02 08:55] wfxr commented on #153
@cjappl I forgot to open a pr to implement this feature. You can look into the commit https://github.com/wfxr/forgit/commit/2db37aa4ecc94e41247a0eecb1b11896fa25cded to update the fish part when you have time.

[2021-06-04 07:21] #144 closed

[2021-06-23 23:42] wren commented on #147
Oh, hi. I came here to file another issue, but I have a [script I wrote](https://github.com/wren/dotfiles/blob/main/bin/git-forgit) in my dotfiles that does exactly this. I'd be happy to clean it up and send over a PR if the OP isn't working on this anymore (I don't want to step on anyone's toes).

[2021-06-24 00:04] wren opened #155 "Add support for `git reflog`"
## Feature request
I've become so dependent on forgit in my daily workflow that I honestly just get cranky when I have to do something without it. I recently had to use `git reflog` and found that there's no forgit command for it. Admittedly, reflog isn't a command that I need often, but when I do there's really no replacement, and I think forgit would be very useful.

## Check list

- [x] I have

[2021-06-25 08:29] wfxr commented on #155
Hi @wren, Thanks for your feedback! I'm glad that forgit can help you. I understand your needs. But reflog is indeed a command that is rarely used. If we keep adding commands like `reflog`, `forgit` will become more and more large and unwieldy. This is inconsistent with it's goal. `forgit` just uses fzf to make some interactive improvment to the **commonly used** git command. I want to keep it sim

[2021-07-06 23:41] cjappl commented on #147
@wren I would say if you get to it first, it's all yours! We haven't heard from the OP in a few months

[2021-07-07 01:27] goodevilgenius commented on #147
@wren I'm not. Feel free.

I never found the time to get it together.

[2021-07-08 04:44] wren commented on #147
Okay, cool. I'm busy the next two weeks, but I should have something for this by the end of the month.

[2021-07-08 15:06] wren commented on #155
@wfxr It's completely understandable if my feature request is out of scope for `forgit`. Thanks anyway for considering it!

[2021-07-12 15:55] horseinthesky commented on #121
@wfxr Hi.
`export FORGIT_PAGER='delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}'` doesn't work for me.

Could you pls explain what section of gitconfig to put `pager = delta --side-by-side -w ${FZF_PREVIEW_COLUMNS:-$COLUMNS}`

Here is part of my gitconfig related to dalta
[code]

At the moment it looks like this
<img width="941" alt="Screenshot_1" src="https://user-images.githubuserconten

[2021-07-13 03:12] wfxr opened #158 "[RFC] Split core functions and additional functions"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Description

As I said in #155, if we keep adding commands into forgit it will become more and more large and unwieldy. This is inconsistent with it's goal. forgit is no comparable with [lazygit](

[2021-07-15 14:50] cjappl commented on #158
I'd like to ping @wren and @D4KU to get their thoughts on this too if they're free.

Here's my 2 cents:

I'm not sure I love the dividing into two pieces. I think we should continue doing the "most used" path, and ignore the rest. This is because the more code we add supporting smaller workflows, we just have more code to have bugs in, without getting "much" in return.

I would think that if you s

[2021-07-17 06:54] D4KU commented on #158
I'm no big fan of a division, either. I'd much rather see a forgit focused on implementing the most-often used commands well than one trying to integrate every git command there is. It's probably hard to draw that line in accordance with everybody, but one would also have to draw a line when splitting up commands. I'm fine with the commands @cjappl listed, including a few like cherry-pick that we

[2021-07-19 02:51] wfxr commented on #158
@cjappl @D4KU Thanks for your comments. I aggre with your opinion of not dividing. For compatibility reasons I also prefer keeping all existing functions.

Another similiar way is the PR that adds new functions in the future will no longer be directly merged, instead one can maintain it in a wiki. If a feature is popular, for example as @cjappl said, get enough thumbs up from the community, we wil

[2021-07-21 14:46] cjappl commented on #158
@wfxr Yeah, I think either way is totally fine, and we could do both! Either a feature needs to be approved by X number of thumbs up on the PR, or on the feature request.

I think as an action item for this task (#158) we should update our PR and issue templates to describe this approach, so people know. We should probably recommend people open up issues to discuss their new features before jumpin

[2021-07-23 20:57] cjappl commented on #152
@Araly, interestingly enough, this just started happening with me too when I switched to a new job!

I will dig in at some point and see if we can fix this on the forgit side. I can't figure out why I can't update my shell with `chsh`. I figured that would fix it. I'm going to use your hack for now.

Super strange

[2021-07-26 15:44] cjappl commented on #152
@Araly  I think I have found the fix! It seems like you have to do a little legwork for fish to be identified as a shell

First, make sure fish is listed as a shell in /etc/shells. Here is a quick one liner that can help you do that.
[code]

Then you need to change the shell for your user
[code]

You then need to close out of your terminal session, but then when you open a new one everything was g

[2021-07-29 16:08] cjappl commented on #155
@wren Can you describe what the reflog command would do? Would it help you diff across refs? Have you check out a specific one?

To be completely honest, I didn't know about this command until this issue, and I've been using it pretty frequently now, so I'd be curious what you had in mind with this feature request

[2021-07-30 15:04] wren commented on #155
When I first ran this, I expected it to behave like `git log` in forgit since the output is nearly identical. For example:

[code]

So, my request was to have forgit support `git reflog` the same way it works with `git log`. In this case, I'm referring to an fzf list of commits with a preview window to show the diff; pressing enter to show the full diff in less; ctrl+y to copy the commit hash; etc

[2021-07-31 21:30] wren commented on #147
Hi! I'm back now (a bit later than expected), and I just wanted to say that I haven't forgotten about this, and should be sending a PR over soon.

[2021-07-31 22:11] wren commented on #158
I'm personally not a fan of hiding functionality behind feature flags, but I do think that the main file in this plugin can be split up into multiple files containing various functions.

This could help with a few things:
1. Functions could optionally be made reusable. For example, as I mentioned in another issue, `git log` and `git reflog` have nearly identical output. So, it would be possible to

[2021-08-01 14:55] cjappl commented on #116
I'm just going to close this. We have done what we can and now we are waiting for an (extremely slow) external dependency.

[2021-08-01 14:55] #116 closed

[2021-08-01 21:14] julienpierini opened #160 "Interactive windows broken under fish"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

fzf version 0.27

[2021-08-01 21:22] julienpierini commented on #160
the plugin jhillyerd/plugin-git was in conflict with forgit

`fisher remove jhillyerd/plugin-git`

[2021-08-01 21:22] #160 closed

[2021-08-02 14:34] julienpierini opened #161 "gi not working with fish"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

fzf version 0.27

[2021-08-02 16:16] cjappl commented on #161
@julienpierini will you check with the most recent? I believe I just fixed it.

Also, something we should probably document at some point, you actually write to your gitignore using redirection

[code]

if you just run gi, it will just preview the output for you and not write anything

[2021-08-02 20:00] julienpierini commented on #161
I confirm this is working now 👍

[2021-08-02 20:00] #161 closed

[2021-08-09 19:23] D4KU commented on #158
@wren I totally agree. One way to split up the code base that comes to my mind would have a separate file for:

1. functions executed for the preview window
2. functions decorating the file list like `ga` showing the *added*, *deleted* markers, etc.
3. logic executed after the user chooses one or multiple files

Every command would then be just a composition of these three building blocks. Our `gi

[2021-08-11 06:55] Araly commented on #152
I tried but it didn't work for me. I don't think I can change my shell at my work, or rather the shell is always overwritten when I reboot. I don't have that issue on my personal computer though, and fish is recognized as a shell all on its own. I'll just keep this little hack for now

[2021-08-11 06:55] #152 closed

[2021-08-23 14:54] pablospe opened #162 "Horizontal split. Useful with delta side-by-side"
Is there a way to do horizontal split instead of vertical? For delta with `side-by-side` mode would work better.

## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [X] Linux
    - [ ] Mac OS X
    - [ ] Windows
    -

[2021-08-25 02:01] wfxr commented on #162
@pablospe You can specify fzf options for forgit: https://github.com/wfxr/forgit#fzf-options

[2021-08-29 23:13] pablospe commented on #162
Unfortunately I wasn't able to find the correct option to do this.

[2021-08-29 23:22] pablospe commented on #162
ok, maybe with `--preview-window 'down:75%'` or similar?

[2021-08-30 02:10] wfxr commented on #162
@pablospe That's right. These options are for `fzf`. Detailed descriptions can be found at `fzf`'s man page.

[2021-08-30 02:10] #162 closed

[2021-08-31 21:44] crazy-matt commented on #153
Proposing https://github.com/wfxr/forgit/pull/163 to make everyone happy

[2021-09-30 04:31] goodevilgenius commented on #147
@wren still working in this, or no?

[2021-09-30 18:19] wren commented on #147
Some personal stuff came up at the time, and I completely forgot about this. Sorry about that! I actually have some time tonight to work on this, so I'll post here about how it goes.

[2021-10-01 06:07] wren commented on #147
Ok, so I took a crack at it, and I need a decision from the project about the specific approach. The requirements as I see them are:
1. Standalone, executable file (usually in a bin directory somewhere)
2. That file must be on the `$PATH`
2. Must be aware of where forgit is installed (so that it can source and run the forgit functions)

The way I see it, there are a few different ways to accomplis

[2021-10-06 00:07] #155 closed

[2021-10-09 02:21] wfxr commented on #147
@wren Sorry for the late reply. I'm too busy recently. And Thank you for your efforts. I just have some questions:

1. Have you considered the compatibility for bash, zsh and fish ?
2. What are the major flaws in the original solution contributed by @goodevilgenius ? I think it is elegant, involves fewer changes, and do not make users who don’t use this feature pay ?

[2021-10-10 18:24] wren commented on #147
@wfxr No worries bout the time.

Yes, I mention above that option one "... is usually different for each shell, so extra handling is required." It wasn't super clear but the "each shell" part was referring to bash, zsh, and fish. Some of the options affect shells differently, and some don't.

The solution I have is essentially the same as the one by @goodevilgenius. The only issue is around this l

[2021-10-11 02:56] wfxr commented on #147
@wren Thank you for the detailed explanation.

What about adding the following line into `forgit.plugin.zsh` ?

[code]

Then we should be able to access `$FORGIT_INSTALL_DIR` in the git sub-commands script:

[code]

[2021-10-11 17:20] wren commented on #147
Happy to help. :)

Yeah, I think something like this would work. It's what I was trying to explain for Option 1 above (potentially with some extra handling because I don't know if `$BASH_SOURCE` works on zsh and fish). Looking back at it, I think the options above weren't as clear as I could have made them. Sorry about that!

So, the two steps that need extra handling (numbers), and their possible

[2021-10-12 02:53] wfxr commented on #147
@wren Thank you!

You are right. We need different ways to find the installation directory for different shells:

[code]

[code]

I prefer 1b and 2b because users may not expected to see the `PATH` env being modified while sourcing a plugin.

[2021-10-15 05:58] wren commented on #147
@wfxr Ok, sounds good. I'll code this up and send over a PR this weekend. 👍

[2021-10-18 06:54] wren commented on #147
@wfxr I just opened the PR. I'm happy to make any changes as needed, so just let me know what you think.

[2021-10-22 09:08] petertriho opened #165 "`set -x FORGIT_INSTALL_DIR` causing fish to cd into config dir on startup"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce
Looks like these

[2021-10-26 11:31] #165 closed, assigned to nobody

[2021-11-13 18:57] DanielFGray commented on #121
@wfxr this worked for me
[code]
it seems that git uses `sh` to run this command, and `${var:-word}` is a bashism, so this explicitly uses bash

[2021-11-13 19:03] Kr1ss-XD commented on #121
Nice !   If that is the issue, it might also suffice to simply omit the `:` :

[code]

I think that's valid `sh` syntax. Not tested though - I'm on mobile right now.

[2021-11-17 11:21] tommyalatalo opened #167 "Forgit `gcb` shows more than just branch names in fzf search"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [X] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [X] zsh
    - [ ] fish

## Problem / Steps to reproduce

When I use `gcb`

[2021-11-26 04:12] p00f opened #168 "forgit add doesn't preview properly when user shell is bash and interactive shell is fish"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce
When I use `ga`,

[2021-11-26 04:17] p00f commented on #168
Whoops this is a dupe of #152

[2021-11-26 04:18] p00f commented on #168
I'll leave this open, feel free to close it and move the discussion there.

cc @Araly

[2021-11-26 15:27] Araly commented on #168
I've been using lazygit  for now, but I can try to test ga with the fix at work later next week

[2021-11-30 03:23] p00f commented on #168
@wfxr do you want me to make a PR?

[2021-11-30 03:36] p00f commented on #168
see #169

[2021-12-01 16:31] flanaras opened #170 "ga preview not working with fish"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

When using the l

[2021-12-01 16:46] cjappl commented on #170
Yeah, agreed something changed recently. Let me see if I can look into it

[2021-12-01 17:00] flanaras commented on #170
Hi @cjappl, this makes the `ga` preview to work again.

Thanks for the timely response.

[2021-12-05 23:03] #170 closed

[2021-12-05 23:07] cjappl opened #172 "Fish: ga does not work when there are spaces in file name"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [x] Mac OS X
    - [x] Windows
- Shell
    - [x] fish

## Problem / Steps to reproduce

Steps to repro:

touch "some file with spaces in it"
ga

Looks

[2021-12-05 23:21] cjappl commented on #172
Closing for now, as it was fixed in that reversion

[2021-12-05 23:21] #172 closed

[2021-12-15 20:10] #158 closed

[2022-01-19 16:57] hermitmaster opened #174 "Feature Request: Add aliases for git diff commands"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [X] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [X] zsh
    - [ ] fish

## Problem / Steps to reproduce

Add gds alias fo

[2022-01-20 03:52] #174 closed

[2022-01-25 19:50] macintacos opened #177 "`fisher update` installs update to `forgit` for current shell session, but it's not permanent"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [ ] I have the latest version of forgit -> read more about this below, this is literally the problem I think :)
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [

[2022-02-01 14:33] macintacos commented on #177
I just want to note some observations that I have after debugging this a bit further.

- Everything from what I can tell is installed correctly in my `functions` path by `fisher`, and it all works fine.
- When I run `fisher remove wfxr/forgit`, start a new shell, and then `fisher install wfxr/forgit`, the `gcb` command shows everything output "properly" (I don't see those `[m` characters and such)

[2022-02-01 14:52] macintacos commented on #177
Closing this out, I'll reopen if I can't figure it out.

[2022-02-01 14:52] #177 closed

[2022-02-01 14:59] cjappl commented on #177
Thanks for the help tracking this down!!

Sorry I’ve been MIA. I’m also not super well versed in fisher.

If you find anything, keep us updated. Thanks again.

On Tue, Feb 1, 2022 at 6:52 AM, Julian Torres ***@***.***> wrote:

[2022-02-02 12:23] NullSense opened #179 "Forgit gcb does not show the master branch anymore"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce
gcb does not list

[2022-02-02 16:58] cjappl commented on #179
Thanks for the report!

Do you have a link to a public repo you can reproduce this with? I’m still seeing master when I use gcb.

On Wed, Feb 2, 2022 at 4:23 AM, NullSense ***@***.***> wrote:

[2022-02-03 12:54] timsofteng opened #180 "Strange searching in gcb"
Hello. When I invoke branch changing by `gcb` I would like to make search on branches names only. How can I enable it?

[2022-02-03 12:57] timsofteng opened #181 "Sorting branches by last checkout"
Hello.
Is it possible to add sorting git branches by last checkout?
I want to see branch where I was working before current brunch above it in fzf list.

[2022-02-22 11:06] NullSense commented on #180
Sorry for the late reply, it turns out the master branch is present but for some reason the matching algorithm put it a whole page up (I have a lot of branches on this project) instead of immediately giving me the suggestion (it doesn't seem to be sorting on branch naming)

[2022-02-22 11:07] NullSense commented on #179
Sorry for the late reply, it turns out the master branch is present but for some reason the matching algorithm put it a whole page up (I have a lot of branches on this project) instead of immediately giving me the suggestion (it doesn't seem to be sorting on branch naming)

https://github.com/wfxr/forgit/issues/180 actual issue

[2022-02-22 11:10] NullSense commented on #180
[code]

Here's a version I am using at the moment.

[2022-02-23 19:55] selfagency opened #184 "No aliases after zplug install"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [X] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [X] zsh
    - [ ] fish

## Problem / Steps to reproduce

None of the defa

[2022-02-23 19:56] #184 closed

[2022-02-27 12:24] carlfriedrich opened #185 "Preview command cannot be customized in command-specific options"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

I would like to

[2022-03-07 20:12] carlfriedrich commented on #185
Since I don't see any drawbacks in making the proposed change, I just filed a PR #186 to fix this. Would love to see this merged.

[2022-03-10 10:08] carlfriedrich opened #187 "'gd' does not work with two revisions"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

The `forgit:diff

[2022-03-11 16:59] carlfriedrich opened #188 "'gd' does not support git move/rename actions"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

The `forgit::dif

[2022-03-11 19:00] carlfriedrich commented on #187
@wfxr I made PR #189 to fix this. Please let me know if it can be merged.

[2022-03-11 19:00] carlfriedrich commented on #188
@wfxr I made PR #189 to fix this. Please let me know if it can be merged.

[2022-03-11 19:02] carlfriedrich commented on #185
Sorry, I accidentally closed this when I merged the change into my own fork. Reopen it to merge it here as well.
@wfxr Let me know if you accept the change.

[2022-03-19 21:55] cjappl commented on #180
PR's are welcome to address this issue! Agreed it looks the same as #167

[2022-03-19 21:58] cjappl commented on #179
Closing, thanks for confirming

[2022-03-19 21:58] #179 closed

[2022-03-19 21:59] cjappl commented on #181
This is for which command?

gcb?

[2022-03-21 00:29] #187 closed

[2022-03-21 00:29] #188 closed

[2022-03-21 00:32] wfxr commented on #185
@carlfriedrich Nice improvement, thanks for your contribution!

[2022-03-21 11:15] #185 closed

[2022-04-01 18:23] cjappl commented on #181
Cool, @wfxr have any issue with this?

I can look into it when I get a chance, but as long as he approves, we accept PRs @timsofteng ! I would guess this isn't too big or hard of a change

[2022-04-05 02:18] arihant2math opened #194 "Add formula to homebrew"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [x] Mac OS X
    - [ ] Windows
- Shell: All

## Problem / Steps to reproduce

There is no homebrew formula for forgit, this is my default package manag

[2022-04-05 16:10] pablombg opened #195 "Collation problem in gcb"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

In checkout::bra

[2022-04-12 11:03] obvionaoe opened #198 "Feature request: Support for git commit -m"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Feature
Hi, is it possible to add support for

[2022-04-12 13:47] cjappl commented on #198
Hi Luís,

Would you go into detail about what you’d want to see with this command?

Most of the forgit commands show either the git tree, or files that need to be added or diffed in some way.

The commit command, with the m flag is just a simple command that doesn’t really show any state.

If you elaborate on your idea a bit we can think about if we want it!

Also always open to PRs if you want to

[2022-05-03 10:10] obvionaoe commented on #198
Hi, sorry for the late reply, I was thinking something like this:

![commit.jpg](https://user-images.githubusercontent.com/35278323/166436246-8f706a50-d2f2-44b7-a36b-66e934a663a6.jpg)

Where you would be able to see the files you are commiting and the changes being made, so that you could type up the commit message in the top box based on what was shown on the diff

[2022-05-09 21:16] tommyalatalo commented on #167
I have pushed pull request #201 to fix this issue, only thing needed seems to be to remove the `--verbose` flag from the git command in `forgit::checkout::branch`. This would also close #180.

[2022-05-09 21:42] tommyalatalo commented on #180
I've opened PR  #201 to fix this.

[2022-05-10 01:45] #195 closed

[2022-05-18 09:09] taranlu-houzz opened #202 "Diffs for Python files have somewhat nonsensical headings if they are at the module level namespace"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce
If there are chan

[2022-05-18 11:05] wfxr commented on #202
@taranlu-houzz forgit has nothing to do with the diff content. It's provided by [delta](https://github.com/dandavison/delta). Maybe You should probably ask on delta's repo.

[2022-05-18 18:09] taranlu-houzz commented on #202
@wfxr Ah, right, of course. Sorry about that. I will ask on their repo. I forgot that I had installed `delta` to test it out a while back. Thank you for letting me know.

[2022-05-18 18:09] #202 closed

[2022-05-18 19:21] taranlu-houzz opened #203 "`gd` does not show diff in preview"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce
When I try to use

[2022-05-20 09:38] wfxr commented on #203
@taranlu-houzz @tvenable-mie Thanks for your report! I make the pr #204 to fix this. Can you update and help test it?

[2022-05-20 10:46] wfxr commented on #181
@timsofteng It's hard to implement branch LRU sorting unless git provide a api. But you can always use `-` as the last branch:

[code]

[2022-05-20 13:02] tvenable-mie commented on #203
@wfxr That PR fixes it for me. Thanks!

[2022-05-24 23:04] lastcoolnameleft opened #205 "Parse error after new installation"
## Check list

- [ X ] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [ X ] I have the latest version of forgit
- [ X ] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [ X ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ X ] zsh
    - [ ] fish

## Problem / Steps to reproduce

My sce

[2022-05-29 00:03] cjappl opened #206 "Fish bug: gd and ga show empty previews when filename has spaces in it"
Steps to repro:

- Have a file with spaces in it in your project
- make a change to it
- call either `ga` or `gd`
- observe file diff output

Expected:
- Diff appears as expected

Observed:
- Diff window is empty

[2022-05-30 17:48] endigma opened #207 "glo hanging with no output"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

latest fzf, git,

[2022-05-30 17:55] radiden opened #208 "Fish bug: some of the commands (glo, gss) don't work"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [x] fish

## Problem / Steps to reproduce

Run `glo` or `gs

[2022-05-30 17:56] endigma commented on #207
dup #208

[2022-05-30 17:56] #207 closed

[2022-05-30 17:57] endigma commented on #208
can reproduce void linux & nix latest

[2022-05-30 18:30] cjappl commented on #208
Hi @endigma ,

Thanks for the report!! Unfortunately I don't have a linux box to test and fix with, is there any way you could submit a PR if you get to the bottom of it?

On my OSX machine, these commands are working as intended. (see screenshots below)

[code]

glo:
<img width="1438" alt="Screen Shot 2022-05-30 at 11 27 19 AM" src="https://user-images.githubusercontent.com/14171107/171044822-310

[2022-05-30 18:33] endigma commented on #208
you should try https://github.com/lima-vm/lima

[2022-05-30 18:34] cjappl commented on #194
@arihant2math I think this is a great idea, and seeing as you have 9 thumbs up for it, seems like a lot of people agree!

Any chance you have the time to write up a PR for it? I think the only requirements is that it installs the correct bindings for each applicable shell (fish/bash/zsh). Not sure how brew deals with commands like this that are kind of aliases of other commands.

[2022-05-30 18:34] cjappl commented on #198
Assigning to @wfxr for comments/thoughts

[2022-05-30 18:35] cjappl commented on #203
Closing, opened a similar issue for fish for me to fix! Thanks for the help @taranlu-houzz @tvenable-mie

[2022-05-30 18:35] #203 closed

[2022-05-30 18:36] cjappl commented on #205
Assigning to @wfxr

[2022-05-31 02:16] wfxr commented on #198
Search bar of fzf is for filtering inputs (items in the left side), not for text editing. You can just run `git status -s` or `gd HEAD` to check the changes before writing the commmit message `git commit -m "..."`.

[2022-05-31 02:16] #198 closed

[2022-05-31 07:09] fadzlan opened #210 "git sub-command does not respect env variables in .zshrc"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

Currently on commit `6385f85`

## Problem / Steps

[2022-06-05 18:09] wren commented on #210
Hi @fadzlan, thanks for filing this report.

Due to the way the `git forgit *` aliases work, you must use the `export` keyword when setting environment variables for this to work properly. So, if you update your `.zshrc` like so, you should be good to go:

[code]

[2022-06-05 18:14] wren commented on #210
@wfxr This should probably be updated in `README.md`. I was thinking of just adding `export` to all of the examples of setting config in the file (this will make the config always work for both shell aliases and the git aliases).

I can send a PR later today if you're ok with this approach.

[2022-06-06 07:12] wfxr commented on #210
@wren Do you mean let the user set all the environment variables in `.zshrc`?

[2022-06-09 09:23] anarchy89 opened #212 "Add installation line for Oh my zsh"
## Check list

- [ x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x ] I have the latest version of forgit
- [ x] I have searched through the existing issues

## Environment info

- OS
    - [x ] Linux
    - [x ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ x] zsh
    - [ ] fish

## Problem / Steps to reproduce

add instal

[2022-06-09 16:00] fadzlan commented on #210
It works! Thanks.

In the current documentation, there is already instruction to set up the environment variable, just not where should you set it.

I think it can remain that way, with just additional instruction to add `export` if the current setting is not working for `git forgit <command>`

[2022-06-20 06:15] jgoldhammer commented on #208
I can reproduce that glo hangs under macos.
I am using following versions:
[code]

[2022-06-20 19:51] wren commented on #210
@wfxr Sorry for the slow reply; I missed this in my inbox.

I was asking whether it's ok to put `export` in front of all of the examples in the readme. Users can continue to set variables wherever they are setting them now (like `.zshrc`), but having `export` there will make the vars work with both the traditional way to run forgit, and the git sub-command. So, since it works with both methods, it

[2022-06-20 21:23] cjappl commented on #208
I would fully support a PR to help fix this! Unfortunately I can't repro so I am not of help. If anyone wants to step up, happy to help review 😄

[2022-07-08 21:27] phillipreeder opened #214 "glo and ga incorrectly display terminal color codes"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [X] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [X] zsh
    - [ ] fish

## Problem / Steps to reproduce
Using fzf 0.30.0

[2022-07-14 12:31] carlfriedrich opened #217 "Why not use forgit::diff on forgit::log enter?"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

When using `glo`

[2022-07-14 16:25] #206 closed

[2022-07-18 03:28] wfxr commented on #214
@phillipreeder Can you update forgit and try again? I cannot repro:
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/6105425/179441209-91bcff0f-3514-461b-8705-d51f9de831cd.png">

[2022-07-20 06:19] wfxr commented on #214
@phillipreeder Can you run the following command to see if fzf is working properly?

[code]

[2022-07-20 15:53] phillipreeder commented on #214
Output of 32m and 31m

<img width="455" alt="Screen Shot 2022-07-20 at 8 50 50 AM" src="https://user-images.githubusercontent.com/100375973/180026982-0a026ebb-f5a1-4c46-8d5e-ca8005abfb2a.png">
<img width="455" alt="Screen Shot 2022-07-20 at 8 52 34 AM" src="https://user-images.githubusercontent.com/100375973/180027281-ed296002-894a-41bf-8c4d-cac835712300.png">

[2022-07-21 03:38] wfxr commented on #214
Weird...fzf seems ok to render ansi color. Have you modified the `--ansi` option for `fzf`?

https://github.com/wfxr/forgit/blob/bd8fce74a662fd6ed90d942a797531ffd0492ae8/forgit.plugin.zsh#L416

[2022-07-21 18:15] phillipreeder commented on #214
[code]

[2022-07-22 15:59] phillipreeder commented on #214
That did the trick, moving configs to before sourcing forgit solved the issue. Thanks!

[2022-07-22 15:59] #214 closed

[2022-07-23 11:38] vicendominguez commented on #194
There is a previous step to do here. We need versioning in forgit. `Brew` [doesn't like unversioned-things®](https://docs.brew.sh/Acceptable-Formulae#we-dont-like-install-scripts-that-download-unversioned-things)

[2022-07-28 17:59] ray-x opened #224 "[Fish] ga/gd no longer works after plugin upgrade"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [X] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [ ] zsh
    - [X] fish

## Problem / Steps to reproduce
in a git repo, ru

[2022-07-28 18:40] cjappl commented on #224
hmm, this is interesting.

Is there a reason that your $SHELL is bash instead of fish?

See also this ticket: https://github.com/wfxr/forgit/pull/169

There was a fix for it then, but it broke mine when my $SHELL was fish...

[2022-07-28 18:41] cjappl commented on #224
I'm not sure there is a long term solution that will fix both, as fish syntax is very different than bash syntax, and we rely on fish scripting internally to have it work properly

[2022-07-28 23:25] ray-x commented on #224
If login shell is fish, I think it should be OK.  But if you switch between shells, might be an issue.

[2022-08-03 11:47] carmilso opened #227 "Right interactive panel with changes not shown when glo inside tmux"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [X] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [X] zsh
    - [ ] fish

## Problem / Steps to reproduce

Hi all,

I'm fac

[2022-08-06 10:45] pookdeveloper opened #229 "Resize left pannel in glo"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce

Any way to resiz

[2022-08-08 11:59] rablador commented on #205
Having the same setup and same error.

[2022-08-09 23:45] cjappl commented on #229
Hmm, great question. Maybe  @wfxr knows.

I would ask in the `fzf` repo, as this is basically just a look at that tool. You can then pass that option into our commands by setting or adding to `FORGIT_FZF_DEFAULT_OPTS`

[2022-08-10 06:03] #181 closed

[2022-08-22 10:28] horseinthesky commented on #121
Forgit does know nothing about `delta`. You must provide the info about how many columns you have in your terminal window somehow

Check out my custom git fzf functions. I use `delta` pager with the appropriate info
https://github.com/horseinthesky/dotfiles/blob/master/files/zsh/fzf-git-functions.zsh#L12

[2022-08-31 06:51] goncharov commented on #208
I faced the same issue after installation of [oh-my-fish/plugin-grc](https://github.com/oh-my-fish/plugin-grc). It overrides `env` command. As workaround I've excluded `env` to override by `set -U grc_plugin_ignore_execs env`

[2022-08-31 15:23] endigma commented on #208
This is the fix.

[2022-09-12 04:02] arihant2math opened #233 "Have a proper versioning system"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [x] Mac OS X
    - [x] Windows
    - [x] Others:
- Shell
    - [x] bash
    - [x] zsh
    - [x] fish

## Problem / Steps to reproduce
forgit is not ver

[2022-09-12 04:03] arihant2math commented on #194
@vicendominguez Created #233 for that

[2022-09-22 02:34] #210 closed

[2022-09-28 10:21] ray-x commented on #224
as there is a workaround, close it for now.

[2022-09-28 20:24] #224 closed

[2022-09-29 02:27] wfxr commented on #229
@pookdeveloper I think you cannot resize the left part, but you can achieve the same goal through resizing the preview window using `--preview-window` option provided by fzf.

[2022-10-11 06:55] cjappl commented on #205
If anyone has time to put together a PR for this one I’d love the help! I can’t repro on my side because my shell and $SHELL match.

I’m partially inclined to think this is kind of “undefined behavior” of a sort, but if we can find a fix that works for both versions and is sturdy to new features I’m happy to merge it!

On Mon, Aug 8, 2022 at 5:00 AM, Jon Petersson ***@***.***> wrote:

[2022-10-18 13:33] nkh opened #242 "Preview a single file diff"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [x] Linux
    - [ ] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [x] bash
    - [ ] zsh
    - [ ] fish

## Problem / Steps to reproduce

running `fgl --

[2022-10-19 06:11] carlfriedrich commented on #227
@carmilso This should usually work (and works in my case). Does running a plain `fzf` show a preview window for you in both scenarios?

[code]

Do you have [`fzf-tmux`](https://github.com/junegunn/fzf#fzf-tmux-script) installed?

[2022-10-19 06:42] carmilso commented on #227
@carlfriedrich this is what I tried:

[code]

That command gives me the following error output:
![image](https://user-images.githubusercontent.com/7313231/196614706-3458d1d9-48f0-4217-9c9a-368178c8697d.png)

On the other hand, `fzf-tmux` is installed since I can run it.

So this is the output outside tmux:

![image](https://user-images.githubusercontent.com/7313231/196615594-138059ec-d7e0-4f56-941

[2022-10-19 06:53] carlfriedrich commented on #227
Strange that your plain `fzf` command does not work. How does this behave?

[code]

[2022-10-19 06:56] carmilso commented on #227
Yes, I think the same. That one works as expected:
![image](https://user-images.githubusercontent.com/7313231/196618470-fce153d5-3af2-4511-9703-5052c005af8e.png)

[2022-10-19 06:57] carlfriedrich commented on #242
I can reproduce this:

![grafik](https://user-images.githubusercontent.com/45259958/196618311-3fc16a45-1e28-4f53-b325-40459712b2e7.png)

If `fgl -- some/file` works, though, why do you need `fgl -p some/file` to work?

I'm not sure if we actually support optional git command line arguments on forgit. @wfxr @cjappl Do we?

[2022-10-19 06:59] carlfriedrich commented on #227
I don't see a preview, though. So does it behave identically to forgit (preview without tmux, no preview with tmux)? If that's the case, then this is not a forgit problem but a fzf problem and you should file an issue [over there](https://github.com/junegunn/fzf).

[2022-10-19 07:06] carmilso commented on #227
Well, the preview is what you see below the `~ < 43/43 (0)`. So if I write for example `index` it will only show `./git/index` as expected. It behaves the same in tmux and outside tmux:
![image](https://user-images.githubusercontent.com/7313231/196620338-542bf53f-9f84-4f61-97a5-a4889f105050.png)

[2022-10-19 07:20] carlfriedrich commented on #227
No, that's not the preview, it's the finder area. The preview window should show the file contents (that's what the preview command `cat {}` does):

![grafik](https://user-images.githubusercontent.com/45259958/196623290-74fe056a-34da-44ce-a83e-6270aaad3a5a.png)

[2022-10-19 07:36] carmilso commented on #227
Okay, it was because a bad configuration of fzf options the reason why that `find | fzf --preview "cat {}"` was not working. But it's curious because now it works from outside tmux but not from inside (it gives the same error as before) so as you say I assume it is some fzf misconfiguration with tmux and not forgit itself. I will investigate that.

Thanks for helping!

[2022-10-19 07:37] #227 closed

[2022-10-19 08:09] wfxr commented on #242
@carlfriedrich Sadly not.

https://github.com/wfxr/forgit/blob/2872548075e63bc83a0b960e2813b16571998563/forgit.plugin.zsh#L37-L42

[2022-10-19 12:50] nkh commented on #242
@carlfriedrich I'd need it so i can go from one commit to the other and see the diff for just that commit

[2022-10-20 08:18] carlfriedrich commented on #242
@nkh But that already works with `fgl -- some/file` as you said?

[2022-10-20 10:16] nkh commented on #242
it was part of a script that used git options, now I have the answer, I'll see if it can be changed.

[2022-10-20 10:16] #242 closed

[2022-10-20 14:05] clenemt opened #243 "Git stash interactive"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [X] Linux
    - [X] Mac OS X
    - [X] Windows
    - [X] Others:
- Shell
    - [X] bash
    - [X] zsh
    - [X] fish

## Problem / Steps to reproduce

More of a featur

[2022-10-20 14:16] carlfriedrich commented on #243
@clenemt Thanks for the request. That would definitely make sense and I actually considered it as well in the past already. Would you be willing to come up with a PR?

[2022-10-21 19:02] Dentrax opened #244 "Feature Request: `forgit::pull` and `forgit::push`"
## Check list

- [X] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [X] I have the latest version of forgit
- [X] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [X] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [X] zsh
    - [ ] fish

## Problem / Steps to reproduce

I usually like t

[2022-10-24 08:40] carlfriedrich commented on #244
Hi @Dentrax, thanks for your suggestion. In my opinion this would be a useful extension.

@wfxr @cjappl What do you think?

[2022-10-24 11:59] wfxr commented on #244
@carlfriedrich Have the same opinion as you.

[2022-10-24 13:09] cjappl commented on #244
Works for me!

On Mon, Oct 24, 2022 at 4:59 AM, Wenxuan ***@***.***> wrote:

[2022-10-24 13:41] carlfriedrich commented on #244
Cool! So @Dentrax would you provide a PR for this yourself?

[2022-11-03 19:10] keatsfonam opened #245 "Git diff not displaying in the preview"
## Check list

- [x] I have read through the [README](https://github.com/wfxr/forgit/blob/master/README.md)
- [x] I have the latest version of forgit
- [x] I have searched through the existing issues

## Environment info

- OS
    - [ ] Linux
    - [x] Mac OS X
    - [ ] Windows
    - [ ] Others:
- Shell
    - [ ] bash
    - [x] zsh
    - [ ] fish

## Problem / Steps to reproduce
gd is not showing

[2022-11-04 10:42] carlfriedrich commented on #245
@keatsfonam Thanks for your bug report. I actually cannot reproduce this with zsh on Linux, `gd` works fine here with your proposed steps:

![grafik](https://user-images.githubusercontent.com/45259958/199953535-ef913eb6-ed58-4a4f-902f-143a3d53dda4.png)

Did this use to work in former versions of forgit? If so, can you maybe bisect this to a specific forgit version?

[2022-11-04 11:05] carlfriedrich commented on #245
@keatsfonam Ah, from your screenshot I see that there's obviously a bug in the file list itself, which explains why the preview is not shown:

![grafik](https://user-images.githubusercontent.com/45259958/199954140-6b7af09d-636c-4a6a-8c15-207cbbc75058.png)

The arrow is inserted in [these code lines](https://github.com/wfxr/forgit/blob/2872548075e63bc83a0b960e2813b16571998563/forgit.plugin.zsh#L93.

[2022-11-09 14:09] #208 closed

[2022-11-13 18:19] carlfriedrich commented on #194
I like this idea as well and will put this on my agenda for the near future.

[2022-11-14 17:47] carlfriedrich commented on #233
I'd like to get this rolling. IMO the only thing to do is start creating tags.

Some questions to discuss @wfxr @cjappl:

1. Is it okay for you if I do this? I am volunteering to maintain the release process, so no work on your side, if you are fine with that. @wfxr If you as the initial creator of forgit want to maintain releases, though, I would be totally fine with that as well.

2. Do you have

[2022-11-15 07:42] wfxr commented on #233
@carlfriedrich

1. Totally fine. And I appreciate all your work for `forgit`.

2. I think [calendar versioning](https://calver.org/) is more appreciate for a project like `forgit`. We can release new versions periodically without having to think too much about how to define a new version tag or when to do a release. The release processes may be fully automated through the github workflow.

3. This

[2022-11-15 08:27] cjappl commented on #233
All of the above WFM! 🚀

[2022-11-15 08:52] carlfriedrich commented on #233
@wfxr

Great, thank you!

Release automating via GitHub workflow is what I thought of as well, that's definitely a good idea. So do you think we should do monthly releases then? This would mean if anybody pushes a feature on the beginning of a month, we would have to wait until the end of the month for a release.

I personally wouldn't mind creating tags manually everytime we merge something, alwa

[2022-11-15 10:22] carlfriedrich commented on #233
@wfxr That sounds useful. I would propose tagging the current master with 22.11.0 as the initial release then, and I will come up with a GitHub action for automatic monthly releases within the next two weeks.

I see two separate actions here:

1. Tag creation (triggered on every 1st day of the month)
    - Create a release tag

2. Release creation (triggered on new tags)
    - Create a GitHub rele

[2022-11-17 05:02] dykwok commented on #205
@lastcoolnameleft , @cjappl you can check your .gitconfig settings, and remove the "pager" setting. It works for me.
@wfxr  Could you adapt the pager setting automatically?

[2022-11-17 11:42] rablador commented on #205
Still same problem for me :/

[2022-11-18 18:04] carlfriedrich commented on #245
@keatsfonam Thanks for your feedback. Unfortunately I don't have a Mac to verify this. Can you check if adding `-E` to sed changes anything?

[code]

[2022-11-18 21:02] keatsfonam commented on #245
I think you mixed up the -E on your sed and echo. Neither fix the problem. However I just found that adding a $ in front seems to resolve the problem as far as I can tell

![Screen Shot 2022-11-18 at 1 01 36 PM](https://user-images.githubusercontent.com/2251630/202801699-63cbf2c6-23fe-4217-8083-4c4f17c8c2b3.png)

[2022-11-20 04:20] cjappl commented on #205
@carlfriedrich any ideas here?

[2022-11-20 16:58] carlfriedrich commented on #205
No concrete idea, but @lastcoolnameleft @rablador can you maybe checkout [my branch](https://github.com/carlfriedrich/forgit/tree/move-implementation-to-standalone-forgit) from #241 and see if the error appears there as well?

[2022-11-20 22:02] rablador commented on #205
Running `git forgit` from the branch "move-implementation-to-standalone-forgit", with PATH pointing to the bin folder yields:

git-forgit: line 526: _forgit_: command not found

[2022-11-21 07:27] carlfriedrich commented on #205
@rablador Thanks for your feedback. What was the exact command that you tried? `git forgit` alone doesn't do anything, since we need to provide a forgit subcommand like `git forgit log`.
But nevertheless `git forgit` alone should provide a useful error message, I will add a patch for that.

[2022-11-21 09:23] rablador commented on #205
Ah, right, I forgot to add a command! It works! :D

[2022-11-21 11:26] carlfriedrich commented on #205
@rablador Great, so the error from this issue is gone on the new branch? We will merge this in the next few days, so then the issue should be solved in `master` as well.

@rablador What about you, can you verify this in your environment?

[2022-11-21 11:26] carlfriedrich commented on #205
@rablador Great, so the error from this issue is gone on the new branch? We will merge this in the next few days, so then the issue should be solved in `master` as well.

@lastcoolnameleft What about you, can you verify this in your environment?

[2022-11-21 12:20] rablador commented on #205
@carlfriedrich Yeah, from the branch "move-implementation-to-standalone-forgit" everything works as expected as long as I supply a command for `git forgit`. :)

[2022-11-21 12:21] carlfriedrich commented on #205
@rablador Great, thank you. I already added a commit to the branch which displays a useful error message if no or an invalid command is given, so that shouldn't be a problem anymore either. :-)

[2022-11-21 14:13] carlfriedrich commented on #245
@keatsfonam Oh yes, I indeed mixed up the arguments in my example. Edited the post accordingly.

However, thanks for bringing up that solution! I will prepare a PR for that.

[2022-11-24 15:36] #233 closed

[2022-11-26 12:28] #217 closed

[2022-11-26 12:30] carlfriedrich commented on #205
#241 has been merged, so after the feedback from @rablador I am considering this fixed. If anyone still has this problem, please open a new issue.

[2022-11-26 12:30] #205 closed

[2022-11-26 12:43] carlfriedrich commented on #245
@keatsfonam I pushed PR #250 with a fix for this. Can you checkout the branch and verify that it fixes the issue for you?

[2022-11-27 00:07] cjappl opened #253 "GCP Doesn't order the commits in oldest to newest, which can lead to merge errors"
After doing a very messy cherry-pick the other day, I noticed that forgit just passes in the selections in order they were selected.

This means if you have a commit history like this, that you are cherry picking from

my_target_branch
[code]

and you used gcp to select all of them in the order B, C, A - it would be fed to `git cherry-pick` in the order B, C, A.

I think we should re-order the lis

[2022-11-28 09:18] carlfriedrich commented on #253
@cjappl I already noticed this as well, and I agree with you that the current behavior is not optimal. `fzf` unfortunately does not supply a way to keep the order of the input. There is a [fzf issue](https://github.com/junegunn/fzf/issues/1417#issuecomment-436851667), though, where the author suggests a way to keep git commits sorted in their historical order by adding line numbers to the input an

[2022-11-28 17:09] cjappl commented on #253
Works like a charm @carlfriedrich ! That's exactly the behavior I wanted. Let me see if I can turn this into a commit

[2022-11-28 18:26] cjappl opened #254 "grh only works correctly when in the root directory"
- Fish Shell
- OSX

Steps to repro
* Change a file
* git add the file
* `mkdir somesubdirectory && cd somesubdirectory`
* `grh`

Expected:
* File show up in forgit, if you tab select them they get unstaged

Observed:
`Nothing to unstage.`

I think this is a regression with the big merge, if that gives a hint on how to fix it! (not blaming, just pointing that out as a detail that can help track dow

[2022-11-28 22:43] sandr01d commented on #254
I think this has to do with the `--relative` here:

 https://github.com/wfxr/forgit/blob/42c8e005fece723de68d78906bb3ba7b70ff65c7/bin/git-forgit#L184

Removing this does open the fzf selection, but it doesn't fix this completely as unstaging still doesn't work outside the root directory. I don't have the time to go after this today, but I thought I'd drop a hint.

[2022-11-30 20:06] keatsfonam commented on #245
The issue still occurs in the line above adding the tab
`sed -E 's/^([[:alnum:]]+)[[:space:]]+(.*)$/[\1]\t\2/'"`

![Screen Shot 2022-11-30 at 11 53 52 AM](https://user-images.githubusercontent.com/2251630/204895206-ba0a5356-8d5b-4cb1-8218-152c4d67faa2.png)

Using a $ to quote this one did not work (output is just []). I just got it working fine for me by just using spaces instead of a \t character